{% extends "base.html" %}
{% block title %}FAQ - ErespondentN{% endblock %}
{% block content %}

<div class="info_page">
    <div class="faq_question_info">
        <div class="back_post">
            <a href="/FAQ">Назад</a>
            <svg fill="#002762" height="12" viewBox="0 0 7 12" width="7" xmlns="http://www.w3.org/2000/svg" style="margin-left: 14px;"><path d="M5.83327 4.23243L2.00911 0.410763C1.85043 0.267295 1.64267 0.19034 1.42882 0.195832C1.21498 0.201323 1.01143 0.288839 0.860333 0.440261C0.709232 0.591683 0.622148 0.795412 0.617111 1.00927C0.612074 1.22312 0.68947 1.43073 0.833274 1.5891L4.65494 5.41076C4.81117 5.56704 4.89893 5.77896 4.89893 5.99993C4.89893 6.2209 4.81117 6.43282 4.65494 6.5891L0.833274 10.4108C0.677017 10.5671 0.589277 10.7792 0.589356 11.0002C0.589434 11.2213 0.677324 11.4333 0.833691 11.5895C0.990058 11.7458 1.20209 11.8335 1.42315 11.8334C1.64421 11.8334 1.85618 11.7455 2.01244 11.5891L5.83327 7.76743C6.30195 7.29861 6.56524 6.66284 6.56524 5.99993C6.56524 5.33702 6.30195 4.70125 5.83327 4.23243Z"></path></svg>
        </div>
        <div class="info_page_name">
            <h1>Описание веб-приложения</h1>
        </div>
        <div class="infos">
            <p>Веб-приложение автоматизирует процессы формирования респондентами отчетов по форме ведомственной отчетности квартальной периодичности — «Сведения о нормах расхода и (или) предельных уровнях потребления топливно-энергетических ресурсов».</p>
            
            <p>Приложение работает в онлайн-режиме, предусматривая создание личного кабинета для последующего взаимодействия с веб-порталом.</p>
            
            <p>Программное обеспечение <strong>«ErespondentN»</strong> предназначено для заполнения формы отчетности первичными данными и передачи отчетов в установленной форме.</p>
            
            <p><strong>Основные функции системы «ErespondentN»:</strong></p>
            <ul>
                <li class="spis">
                    <span><strong>Регистрация</strong> и <strong>авторизация</strong> пользователей.</span>
                </li>
                <li class="spis">
                    <span><strong>Создание</strong>, <strong>редактирование</strong> и <strong>удаление</strong> отчетов.</span>
                </li>
                <li class="spis">
                    <span>Формирование <strong>протокола контроля</strong> на основе данных, содержащихся в форме <strong>4-ТЭК</strong>.</span>
                </li>
                <li class="spis">
                    <span><strong>Отправка</strong> отчетов с последующей проверкой в <strong>принимающем центре</strong>.</span>
                </li>
                <li class="spis">
                    <span>Получение информации о <strong>результатах проверки</strong>.</span>
                </li>
            </ul>

            <p><strong>Разработчик:</strong>  Научно-производственное республиканское унитарное предприятие<a href="https://kvant-as.by/" style = "font-weight: 600;"> «Квант-АС»</a>, 220002, г. Минск ул. Старовиленская 54, <br> E-mail: info@kvant-as.by,  <br>Факс: 8 017 379-91-96.</p>
            
            
            <p><strong>Исполнители / Администраторы (тел. 8 017 365-04-33):</strong> </p>
            <ul>
                <li class="code">
                    <span>– <em><strong>Санников Вячеслав Степанович</strong></em></span>
                </li>
                <li title="https://github.com/shlneo" class="code">
                    <span>– <em><strong>Сидоров Максим Андреевич</strong></em></span>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

