{% extends 'admin/base.html' %}
{% block title %}Админ-панель - ErespondentN{% endblock %}
{% block body %}
<div class="container-fluid" style="padding-top: 30px;">
    <table class="table">
        <tbody>
            <tr>
                <td>number of users</td>
                <td>{{ user_data }}</td>
            </tr>
            <tr>
                <td>number of organizations</td>
                <td>{{ organization_data }}</td>
            </tr>
            <tr>
                <td>number of reports</td>
                <td>{{ report_data }}</td>
            </tr>
            <tr>
                <td>number of report versions</td>
                <td>{{ version_report_data }}</td>
            </tr>
            <tr>
                <td>the number of sections</td>
                <td>{{ sections_data }}</td>
            </tr>
            <tr>
                <td>number of tickets</td>
                <td>{{ ticket_data }}</td>
            </tr>
            <tr>
                <td>number of dirUnit</td>
                <td>{{ dirUnit_data }}</td>
            </tr>
            <tr>
                <td>number of dirProduct</td>
                <td>{{ dirProduct_data }}</td>
            </tr>
            <tr>
                <td>number of img files</td>
                <td>{{ num_images }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <a href="{{ url_for('admin.backup_database') }}" class="btn btn-primary">Скачать резервную копию</a>

    <form action="{{ url_for('auth.create_test_users_rout') }}" method="post">
        <button type="submit">Создать тестовых пользователей</button>
    </form>

    <form action="{{ url_for('auth.delete_test_users_rout') }}" method="post">
        <button type="submit">Удалить тестовых пользователей</button>
    </form>
{% endblock %}
