{% extends 'admin/base.html' %}
{% block title %}Админ-панель - ErespondentN{% endblock %}
{% block body %}
<div class="container-fluid" style="padding-top: 30px;">
    <table class="table">
        <tbody>
            <tr>
                <td>users</td>
                <td>{{ user_data }}</td>
            </tr>
            <tr>
                <td>organizations</td>
                <td>{{ organization_data }}</td>
            </tr>
            <tr>
                <td>reports</td>
                <td>{{ report_data }}</td>
            </tr>
            <tr>
                <td>versions</td>
                <td>{{ version_report_data }}</td>
            </tr>
            <tr>
                <td>sections</td>
                <td>{{ sections_data }}</td>
            </tr>
            <tr>
                <td>tickets</td>
                <td>{{ ticket_data }}</td>
            </tr>
            <tr>
                <td>dirUnit</td>
                <td>{{ dirUnit_data }}</td>
            </tr>
            <tr>
                <td>dirProduct</td>
                <td>{{ dirProduct_data }}</td>
            </tr>
            <tr>
                <td>img files</td>
                <td>{{ num_images }}</td>
            </tr>
        </tbody>
    </table>
    
    <div style="margin-top: 20px;">
        <form action="{{ url_for('dbs.units') }}" method="get" target="_blank">
            <button type="submit" class="btn btn-primary">Показать все юниты</button>
        </form>
    </div>

    <div style="margin-top: 20px;">
        <form action="{{ url_for('dbs.products') }}" method="get" target="_blank">
            <button type="submit" class="btn btn-primary">Показать все продукты</button>
        </form>
    </div>  

    <div style="margin-top: 20px;">
        <form action="{{ url_for('dbs.add_products') }}" method="get" target="_blank">
            <button type="submit" class="btn btn-primary">Добавить новые продукты</button>
        </form>
    </div>  


    <div style="margin-top: 20px;">
        <form action="{{ url_for('dbs.set_products_dates_if_empty') }}" method="post" target="_blank">
            <button type="submit" class="btn btn-primary">Добавить даты для прошлых продуктов</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
    <div style="margin-top: 20px;">
        <form action="{{ url_for('dbs.add_units') }}" method="get" target="_blank">
            <button type="submit" class="btn btn-primary">Добавить новые юниты</button>
        </form>
    </div>{##}
</div>

{% endblock %}