{% extends "base.html" %}
{% block title %}404 - ErespondentN{% endblock %}
{% block content %}

<style>
    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 60px;
        height: calc(100vh);
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .error-code {
        font-size: 3em;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin: 0;
    }

    .error-message {
        color: rgb(0, 0, 0);
        font-size: 0.875rem;
        margin-top: 0.75rem;
        padding: 0.75rem 1rem;

        font-size: 1.4rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        animation: slideDown 0.3s ease;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .error-description {
        font-size: 1.2em;
        color: #6c757d;
        margin: 10px 0 30px;
    }
</style>
<div class="error-page">
    <h1 class="error-code">404</h1>
    <p class="error-message">Страница не найдена</p>
    <button type="button" class="blue_button" >
        <img src="/static/img/Login.svg" class="button-icon">
        <span>Вернуться на главную</span>
    </button>
</div>
{% endblock %}
