{% extends "base.html" %}
{% block title %}Аудит - ErespondentN{% endblock %}
{% block content %}

<div class="audit-area_page">
    <div class="sticky_menu">
        <div class="report-area_menu">
            <div class="report-area_podmenu">
                <div class="content-podmenu">
                    <nav>
                        <ul>
                            <section>
                                <div class = "functions_menu">     
                                    <li id = "link_period">           
                                        <img src="{{ url_for('static', filename='img/time.svg')}}" alt="">
                                        <a>
                                        {% if year_filter == '' and quarter_filter == '' %} 
                                            Всё время
                                        {%else%}
                                            {{year_filter}} г. {{quarter_filter}} кв.
                                        {%endif%} 
                                        </a>   
                                    </li>  
                                </div>                         
                                <a class="functions_menu_name">        
                                    Период
                                </a>
                            </section>
                            <section>
                                <div class = "functions_menu">
                                    <nav>
                                        <ul class="menu_audit" id="status-reportList">     
                                            <li data-action="not_viewed" title="Непросмотренные {{not_viewedReports_count}}"> 
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/>
                                                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/>
                                                </svg>       
                                                <a class="inf_reports_bystatus">   
                                                    <span>Непросм.</span>  
                                                    <div class="count-reports">    
                                                        <span>{{ sent_count }}</span>
                                                    </div> 
                                                </a>
                                            </li>
                                            
                                            <li data-action="remarks" title="Есть замечания {{remarksReports_count}}">   
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
                                                </svg>         
                                                <a class="inf_reports_bystatus">
                                                    <span>Замеч.</span>  
                                                    <div class="count-reports">    
                                                        <span>{{ remarks_count }}</span>
                                                    </div> 
                                                </a> 
                                            </li>
                                            
                                            <li data-action="to_download" title="Одобренные {{to_downloadReports_count}}">   
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="inf_reports_bystatus"> 
                                                    <span>Одобр.</span>  
                                                    <div class="count-reports">    
                                                        <span>{{ approved_count }}</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            <li data-action="to_delete" title="Подлежат удалению {{to_deleteReports_count}}"> 
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="inf_reports_bystatus">
                                                    <span>Удал.</span>  
                                                    <div class="count-reports">    
                                                        <span>{{ delete_count }}</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            <li data-action="all_reports" title="Все отчеты {{all_count}}">           
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="inf_reports_bystatus">
                                                    <span>Все</span>  
                                                    <div class="count-reports">    
                                                        <span>{{ total_count }}</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            <form id="change-category-form" style="display: none;" method="post" action="/change-category-report">
                                                <input type="hidden" name="reportId" id="report-id-input">
                                                <input type="hidden" name="action" id="action-input">
                                            </form>
                                        </ul>
                                    </nav>
                                </div>  
                                <a class="functions_menu_name">
                                    
                                </a>
                            </section>
                            <section>
                                <form id = "douwnload_DBF_form" action="/exportDBF" method="POST" style = "display: none;">
                                    <input type = "hidden" name = "year_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{year_filter}}{%endif%}">         
                                    <input type = "hidden" name = "quarter_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{quarter_filter}}{%endif%}">
                                </form>  
                                 <form id = "douwnload_XML_form" action="/exportXML" method="POST" style = "display: none;">
                                    <input type = "hidden" name = "year_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{year_filter}}{%endif%}">         
                                    <input type = "hidden" name = "quarter_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{quarter_filter}}{%endif%}">
                                </form>   
                                <div class = "functions_menu">     
                                    <li id = "link_load">           
                                        <img src="{{ url_for('static', filename='img/upload.png')}}" alt="">
                                        <a>Отчеты</a>   
                                    </li>  
                                </div>        
                                <a class="functions_menu_name">        
                                    Экспорт
                                </a>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="filters-area">
        <div class="search-input-wrapper">
            <div class="input-cont">
                <svg class="input-icon" width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
                <input type="text" id="organization-filter"
                    placeholder="{{ _('Введите наименование') }}" 
                    class="app-input search-input" id="search-name">
            </div>
        </div>
        <div class="search-input-wrapper">
            <div class="input-cont">
                <svg class="input-icon" width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
                <input type="text" id="okpo-filter"
                    placeholder="{{ _('Введите ОКПО') }}" 
                    class="app-input search-input" id="search-okpo">
            </div>
        </div>
    </div>

    <div class="report-list">
        <div class="report-area" >
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 380px;">Предприятие<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">ОКПО<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 100px;">Год<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 100px;">Квартал<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">Дата поступления<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">Статус<div class="resizer"></div></th>
                        <th rowspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {%if reports%}
                        {% for row in reports %}
                            {% for version in row.versions %}
                                <tr class="report_row {% if version.hasNot %} hascomment-row {% endif %}" data-id="{{ row.id }}" draggable="true">
                                    <td></td>
                                    <td style = "padding: 4px;">
                                        <button class="show-tickets_button" onclick="window.location.href='/audit-area/report/{{row.id}}'">  
                                            <span>Просмотр</span>
                                        </button>

                                    </td>
                                    <td style="display: none;">
                                        <input type="text" id="report_id" value="{{ row.id }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_organization_name" value="{{ row.organization.full_name }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_okpo" value="{{ row.okpo }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_year" value="{{ row.year }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_quarter" value="{{ row.quarter }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" value="{{ version.sent_time }}" readonly>
                                    </td>
                                    {% if version.status == 'Отправлен'%}
                                    <td> 
                                        <input type = "text" style = "color: black;" value = "Не просмотрено"  readonly>
                                    </td> 
                                    {% elif version.status == 'Есть замечания'%}
                                        <td style = "background: rgb(255, 186, 96);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>  
                                    {% elif version.status == 'Готов к удалению'%}
                                        <td style = "background: rgb(255, 96, 96);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>
                                    {% elif version.status == 'Одобрен'%}
                                        <td style = "background:  rgb(96, 255, 122);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>
                                    {% else %}
                                        <td> 
                                            <input type = "text" value = "{{ version.status }}"  readonly>
                                        </td>  
                                    {% endif %}
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {%else%}
                        <tr>
                            <td></td>
                            <td></td>
                            <td style = "height: 24px;" colspan="8">
                                <input type = "text"  value = "Отчеты отсутствуют" readonly>
                            </td>
                        </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="contextMenu_report" class="white-panel">
    <button data-action="checkSectionsButton">
        <img src="/static/img/Search.svg" alt="" class="button-icon-bl">
        <span>Просмотреть</span>
    </button>
    <form id="deleteReport" method="POST" action="/rollbackreport/">
        <button type="submit" id="rollbackButton">
            <img src="/static/img/Edit.svg" alt="" class="button-icon-bl">
            <span>Отменить действие</span>
        </button>
    </form>
</div>
<div id="period_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Проверка отчетов</h3>
            <a class="close">&times;</a>
        </div>
        <div class="answer-highlight-second" style = "max-width: 510px;">
            <div class="highlight-icon">💡</div>
            <p>Выберите необходимый <strong>год</strong> и <strong>квартал</strong>. Для просмотра отчетов за все время - выберите <strong>"Все периоды"</strong>.</p>
        </div>
        <table class="modal_table">      
            <tr>
                <td>Год</td>
                <td>
                    <div class="choose_period-cont">
                        <button class="inc_button" type="button" onclick="changeValueByButton(this)">-</button>
                        <input class="inc_dis_input" type="text" 
                            id="quantity_year" 
                            value="{{previous_year}}" 
                            name="modal_report_year" 
                            data-type="year"
                            readonly>
                        <button class="dis_button" type="button" onclick="changeValueByButton(this)">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Квартал</td>
                <td>
                    <div class="choose_period-cont">
                        <button class="inc_button" type="button" onclick="changeValueByButton(this)">-</button>
                        <input class="inc_dis_input" type="text" 
                            id="quantity_quarter" 
                            value="{{previous_quarter}}" 
                            name="modal_report_quarter" 
                            data-type="quarter"
                            readonly>
                        <button class="dis_button" type="button" onclick="changeValueByButton(this)">+</button>
                    </div>
                </td>
            </tr>
        </table>
        <div class="model_but_area" >
            <button 
                type="button" 
                class="blue_button" 
                
                onclick="filterSentedReports()">
                    <img src="/static/img/Calendar.svg" alt="" class="button-icon">
                    <span>Выбранный период</span>
            </button>

            <button 
                type="button"
                class="blue_button_invizback" 
                style = "font-size: 13px;"
                onclick="location.href='/audit-area/all_reports?year=&quarter='">
                Все периоды
            </button>
        </div>
    </div>
</div>


<div id="load_reports_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Экспорт отчетов</h3>
            <a class="close">&times;</a>
        </div>
        <div class="answer-highlight-second" style = "max-width: 510px;">
            <div class="highlight-icon">💡</div>
            <p>Выберите <strong>формат</strong> для экспорта. Отчёты будут сохранены в <strong>архив</strong> с выбранным расширением.  
                Подробнее — в <a href="/FAQ#faq14" class="instruction-link">инструкции</a></p>
        </div>
        
        <div class="model_but_area">
            <button 
                type="button"
                class="dbf_button"
                id = "douwnload_DBF_link">
                <span>.dbf</span>
            </button>
            <button 
                type="button"
                class="xml_button "
                id = "douwnload_XML_link">
                <span>.xml</span>
            </button>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/audit.js') }}"></script>
{% endblock %}
