{% extends "base.html" %}
{% block title %}Аудит - ErespondentN{% endblock %}
{% block content %}

<div class="audit-area_page">
    <div class="sticky_menu">
        <div class="report-area_menu">
            <div class="report-area_podmenu">
                <div class="content-podmenu">
                    <nav>
                        <ul>
                            <section>
                                <div class = "functions_menu">     
                                    <li id = "link_period">           
                                        <img src="{{ url_for('static', filename='img/time.png')}}" alt="">
                                        <a>
                                        {% if year_filter == '' and quarter_filter == '' %} 
                                            Всё время
                                        {%else%}
                                            {{year_filter}} г. {{quarter_filter}} кв.
                                        {%endif%} 
                                        </a>   
                                    </li>  
                                </div>                         
                                <a class="functions_menu_name">        
                                    Период
                                </a>
                            </section>
                            <section>
                                <div class = "functions_menu">
                                    <nav>
                                        <ul class="menu_audit" id="status-reportList">     
                                            <li data-action="not_viewed" title="Непросмотренные {{not_viewedReports_count}}"> 
                                                <img class="count-img" src="{{ url_for('static', filename='img/sl_1.png')}}">          
                                                <a class="inf_reports_bystatus">   
                                                    <span>Непросм.</span>
                                                </a>
                                            </li>
                                            <li data-action="remarks" title="Есть замечания {{remarksReports_count}}">   
                                                <img class="count-img" src="{{ url_for('static', filename='img/sl_2.png')}}">             
                                                <a class="inf_reports_bystatus">
                                                    <span>Замеч.</span>
                                                </a> 
                                            </li>
                                            <li data-action="to_download" title="Одобренные {{to_downloadReports_count}}">   
                                                <img class="count-img" src="{{ url_for('static', filename='img/sl_3.png')}}">              
                                                <a class="inf_reports_bystatus"> 
                                                    <span>Одобр.</span>
                                                </a>
                                            </li>  
                                            <li data-action="to_delete" title="Подлежат удалению {{to_deleteReports_count}}"> 
                                                <img class="count-img" src="{{ url_for('static', filename='img/sl_4.png')}}">                
                                                <a class="inf_reports_bystatus">
                                                    <span>Удал.</span>
                                                </a>
                                            </li>  
                                            <li data-action="all_reports" title="Все отчеты {{all_count}}" >           
                                                <img class="count-img" src="{{ url_for('static', filename='img/sl_all.png')}}">                
                                                <a class="inf_reports_bystatus">
                                                    <span>Все</span>
                                                </a>
                                            </li>  
                                            <form id="change-category-form" style="display: none;" method="post" action="/change-category-report">
                                                <input type="hidden" name="reportId" id="report-id-input">
                                                <input type="hidden" name="action" id="action-input">
                                            </form>
                                        </ul>
                                    </nav>
                                </div>  
                                <a class="functions_menu_name">
                                    Статус отчета
                                </a>
                            </section>
                            <section>
                                <div class="filter_area">
                                    <div class="filter_type">                                
                                        
                                        <input type="text" id="okpo-filter" placeholder="ОКПО" value="">
                                    </div>
                                    <div class="filter_type">     
                                        
                                        <input type="text" id="organization-filter" placeholder="Предприятие" value=""> 
                                    </div>       
                                </div>
                                <a class="functions_menu_name"> 
                                    Фильтр
                                </a>
                            </section>
                            <section>
                                <form id = "douwnload_DBF_form" action="/exportDBF" method="POST" style = "display: none;">
                                    <input type = "hidden" name = "year_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{year_filter}}{%endif%}">         
                                    <input type = "hidden" name = "quarter_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{quarter_filter}}{%endif%}">
                                </form>  
                                 <form id = "douwnload_XML_form" action="/exportXML" method="POST" style = "display: none;">
                                    <input type = "hidden" name = "year_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{year_filter}}{%endif%}">         
                                    <input type = "hidden" name = "quarter_filter" value = "{% if year_filter == '' and quarter_filter == '' %}{%else%}{{quarter_filter}}{%endif%}">
                                </form>   
                                <div class = "functions_menu">     
                                    <li id = "link_load">           
                                        <img src="{{ url_for('static', filename='img/upload.png')}}" alt="">
                                        <a>Отчеты</a>   
                                    </li>  
                                </div>        
                                <a class="functions_menu_name">        
                                    Загрузка
                                </a>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {%if current_user.type != 'Администратор'%}
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info"  style = "margin: 10px 30px;"> 
            <span>
                <a class = "hover_a">{{current_user.organization.full_name}}</a>
            </span>
        </div>
    </div>
    {%endif%}

    <div class="report-list">
        <div class="report-area" >
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>
                        <th></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 380px;">Предприятие<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">ОКПО<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 100px;">Год<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 100px;">Квартал<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">Дата поступления<div class="resizer"></div></th>
                        <th class="resizable" style="white-space: nowrap; min-width: 140px;">Статус<div class="resizer"></div></th>
                        <th rowspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {%if reports%}
                        {% for row in reports %}
                            {% for version in row.versions %}
                                <tr class="report_row {% if version.hasNot %} hascomment-row {% endif %}" data-id="{{ row.id }}" draggable="true">
                                    <td></td>
                                    <td style="display: none;">
                                        <input type="text" id="report_id" value="{{ row.id }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_organization_name" value="{{ row.organization.full_name }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_okpo" value="{{ row.okpo }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_year" value="{{ row.year }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="report_quarter" value="{{ row.quarter }}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" value="{{ version.sent_time }}" readonly>
                                    </td>
                                    {% if version.status == 'Отправлен'%}
                                    <td> 
                                        <input type = "text" style = "color: black;" value = "Не просмотрено"  readonly>
                                    </td> 
                                    {% elif version.status == 'Есть замечания'%}
                                        <td style = "background: rgb(255, 186, 96);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>  
                                    {% elif version.status == 'Готов к удалению'%}
                                        <td style = "background: rgb(255, 96, 96);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>
                                    {% elif version.status == 'Одобрен'%}
                                        <td style = "background:  rgb(96, 255, 122);"> 
                                            <input type = "text" style = "color: black;" value = "{{ version.status }}"  readonly>
                                        </td>
                                    {% else %}
                                        <td> 
                                            <input type = "text" value = "{{ version.status }}"  readonly>
                                        </td>  
                                    {% endif %}
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {%else%}
                        <tr>
                            <td></td>
                            <td style = "height: 24px;" colspan="8">
                                <input type = "text"  value = "Отчеты отсутствуют" readonly>
                            </td>
                        </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="contextMenu_report" class="white-panel">
    <button data-action="checkSectionsButton">
        <span>Просмотреть</span>
    </button>
    <form id="deleteReport" method="POST" action="/rollbackreport/">
        <button type="submit" id="rollbackButton">
            <span>Отменить</span>
        </button>
    </form>
</div>
<div id="period_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Проверка отчетов</h3>
            <a class="close">&times;</a>
        </div>
        <div class="modal-middle-text">
            <a>Выберите необходимый <strong>год</strong> и <strong>квартал</strong>. При желании просмотреть отчеты за все время - выберите <strong>"Все периоды"</strong>.</a>
        </div>
        <table class="modal_table">      
            <tr>
                <td>Год</td>
                <td>
                    <div class="input-container">
                        <button class = "inc_button" type="button" onclick="decrement_year()">-</button>
                        <input  class = "inc_dis_input" type="text" id="quantity_year" value="{{previous_year}}" name="modal_report_year" readonly>
                        <button class = "dis_button" type="button" onclick="increment_year()">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Квартал</td>
                <td>
                    <div class="input-container">
                        <button class = "inc_button" type="button" onclick="decrement_quarter()">-</button>
                        <input  class = "inc_dis_input" type="text" id="quantity_quarter" value="{{previous_quarter}}" name="modal_report_quarter" readonly>
                        <button class = "dis_button" type="button" onclick="increment_quarter()">+</button>
                    </div>
                </td>
            </tr>
        </table>
        <div class="model_but_area" >
            <button 
                type="button" 
                class="blue_button" 
                
                onclick="filterSentedReports()">Выбранный период
            </button>

            <button 
                type="button"
                class="blue_button_invizback" 
                style = "font-size: 13px;"
                onclick="location.href='/audit-area/all_reports?year=&quarter='">
                Все периоды
            </button>
        </div>
    </div>
</div>


<div id="load_reports_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Скачивание отчетов</h3>
            <a class="close">&times;</a>
        </div>
  
        <div class="modal-middle-text">
            <div>
                Выберите <strong>формат</strong> для экспорта. Отчёты будут сохранены в <strong>архив</strong> с выбранным расширением.  
                Подробнее — в <a href="/FAQ/14" class="instruction-link">инструкции</a>.  
            </div>
        </div>
        <div class="model_but_area" >
            <button 
                type="button"
                class="dbf_button"
                id = "douwnload_DBF_link">
                .dbf
            </button>
            <button 
                type="button"
                class="xml_button "
                id = "douwnload_XML_link">
                
                .xml
            </button>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/audit.js') }}"></script>
{% endblock %}
