<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_blue.svg')}}">
    <title>{% block title %}ErespondentN - Информационная система учета{% endblock %}</title>
  </head>
  <body>  
    <div class="overlay hidden"></div>
    {% if not hide_header %}
    <header class="fixed-header">
      <div class="header-left">
         <nav>
          <ul>  
            <li id="menu-button"> 
              <img src="{{ url_for('static', filename='img/menu_black.png')}}" alt="">
            </li> 
            <li class = "name_app" onclick="window.location.href='/'"> 
              <img src="{{ url_for('static', filename='img/logo_blue.png')}}" alt="logo">
              <a href="/">ErespondentN</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-center">
        <nav>
          <ul>
              <li onclick="window.location.href='/'">Главная</li>
              <li onclick="window.location.href='/news'">Новости</li>
              <li onclick="window.location.href='/contacts'" >Контакты</li>
              <li onclick="window.location.href='/FAQ'" >Помощь</li>
          </ul>
        </nav>
      </div>
      <div class="header-right">   
        <div class="user-container">
          {% set icon_path = 'img/icon_black-user.png' if current_user.is_authenticated else 'img/log.png' %}
          <img class="icon_black" src="{{ url_for('static', filename=icon_path) }}" alt="">
        </div>
        <div id="user_hover_navigation" class="user_hover_navigation">
          {% if current_user.is_authenticated %}
            <button class = "user_hover_navigation_account" onclick="window.location.href='/account'">Мой профиль</button>
            <button class = "user_hover_navigation_logout" onclick="window.location.href='/logout'">Выйти</button>
          {% else %}
            <button class = "user_hover_navigation_logout" onclick="window.location.href='/login'">Войти</button>
          {% endif %}
        </div>
      </div>
    </header>
    {% endif %}

    {% if circle_buttons %}
    <div class="circle-buttons-container">
       <button class="circle-button" onclick="window.location.href='/FAQ'">
        <img src="{{ url_for('static', filename='img/faq.png') }}" alt="{{ _('FAQ') }}" class="circle-button-icon">
      </button>
      <button class="circle-button" onclick="window.location.href='/login'">
        <img src="{{ url_for('static', filename='img/people.png') }}" alt="{{ _('Логин') }}" class="circle-button-icon">
      </button>
      <button class="circle-button" onclick="window.location.href='/'">
        <img src="{{ url_for('static', filename='img/logo_blue.png') }}" alt="{{ _('Главная') }}" class="circle-button-icon">
      </button>
    </div>
    {% endif %}

    {% if left_men_block %}
      {% block left_menu %}
        <nav class = "left_menu">
          <ul class="sticky_status" id="status-reportList">
              <li class="{% if active_tab == 'common' %}active_li{% endif %}" onclick="window.location.href='/profile/common'">
                  <svg class="left_menu_img" viewBox="0 0 24 24">
                      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                  </svg>
                  <a class="left_menu_text">Общее</a>
              </li>
              <li class="{% if active_tab == 'pass' %}active_li{% endif %}" onclick="window.location.href='/profile/password'">
                  <svg class="left_menu_img" viewBox="0 0 24 24">
                      <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/>
                  </svg>
                  <a>Безопасность</a>
              </li>
              <li class="{% if active_tab == 'session' %}active_li{% endif %}" onclick="window.location.href='/profile/session'">
                  <svg class="left_menu_img" viewBox="0 0 24 24">
                      <path d="M20 18c1.1 0 1.99-.9 1.99-2L22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                  <a>Сессии</a>
              </li>
              <li onclick="window.location.href='/logout'">
                  <svg class="left_menu_img" viewBox="0 0 24 24">
                      <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                  <a>Выйти</a>
              </li>
          </ul>
        </nav>
      {% endblock %}
    {% endif %}


    <main> 
      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissable fade show custom-alert" role="alert">
              <img src="{{ url_for('static', filename='img/' + ('error.png' if category == 'error' else 'succes.png')) }}" alt="">
              <div class = "p_message_cont">
                <p style = "font-weight: 600; padding-bottom: 5px;">{% if category == 'error' %} Ошибка {% else %} Успех {% endif %}</p>
                <p> {{ message }} </p>
              </div>
              <div class="notif-progress"></div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

    {% block content %} 
    {% endblock %}

    {% block javascript %} 
  
      <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}

    </main>
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-row">
              <div class="footer-col">
                  <h4 onclick="window.location.href='/'">ErespondentN</h4>
                  <ul>
                      <li onclick="window.location.href='/news'"><a>Новости</a></li>
                      <li onclick="window.location.href='/contacts'"><a>Контакты</a></li>
                      <li onclick="window.location.href='/FAQ'"><a>FAQ</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                <h4>Сеть</h4>
                <div class="social-links">
                  <a href="https://energoeffect.gov.by/" target="_blank"><i class="fas fa-bolt"></i></a>
                  <a href="https://t.me/energoeffectgovby" target="_blank"><i class="fab fa-telegram"></i></a>
                  <!-- <a href="" target="_blank"><i class="fab fa-youtube"></i></a> -->
                </div>
            </div>
              <div class="footer-col">
                <h4 onclick="window.location.href='/'"></h4>
                <ul>
                    <li>
                      <img  src="{{ url_for('static', filename='img/emailW.png')}}" alt="">
                      <a href="mailto:energoeffect@gosstandart.gov.by">energoeffect@gosstandart.gov.by</a>
                    </li>
                    <li>
                      <img  src="{{ url_for('static', filename='img/telephoneW.png')}}" alt="">
                      <a href="tel:+375173385051" title = "Приемная">+375 17 338-50-51 (прием.)</a>
                    </li>
                    <li>
                      <img  src="{{ url_for('static', filename='img/telephoneW.png')}}" alt="">
                      <a href="tel:+375172315563" title = "Техподдержка">+375 17 365-04-33 (техпод.)</a> 
                    </li>
                    <li>
                      <img  src="{{ url_for('static', filename='img/point_of_placeW.png')}}" alt="">
                      <a>пл. Свободы 17, Минск, Минская область</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="footer-row" style = "text-align: center; margin-top: 30px; justify-content: center;">
            <div class="footer-col">
              <a class = "footer_org" href="https://energoeffect.gov.by">© 2025 "Департамент по энергоэффективности"</a>
            </div>
          </div>
      </div>
  </footer>
  </body> 
</html>
