<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_blue.svg')}}">
    <title>{% block title %}ErespondentN - Информационная система учета{% endblock %}</title>
  </head>
  <body>  
    <div class="overlay hidden"></div>
    {% if not hide_header %}
    <header class="fixed-header">
      <div class="header-left">
         <nav>
          <ul>  
            <li id="menu-button"> 
              <img src="{{ url_for('static', filename='img/menu_black.png')}}" alt="">
            </li> 
            <li class = "name_app" onclick="window.location.href='/'"> 
              <img src="{{ url_for('static', filename='img/logo_blue.png')}}" alt="logo">
              <a href="/">ErespondentN</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-center">
        <nav>
          <ul>
              <li onclick="window.location.href='/'">Главная</li>
              <li onclick="window.location.href='/news'">Новости</li>
              <li onclick="window.location.href='/contacts'" >Контакты</li>
              <li onclick="window.location.href='/FAQ'" >FAQ</li>
          </ul>
        </nav>
      </div>
      <div class="header-right">   
        <div class="user-container">
          {% set icon_path = 'img/icon_black-user.png' if current_user.is_authenticated else 'img/log.png' %}
          <img class="icon_black" src="{{ url_for('static', filename=icon_path) }}" alt="">
        </div>
        <div id="user_hover_navigation" class="user_hover_navigation">
          {% if current_user.is_authenticated %}
            <button class = "user_hover_navigation_account" onclick="window.location.href='/account'">Мой профиль</button>
            <button class = "user_hover_navigation_logout" onclick="window.location.href='/logout'">Выйти</button>
          {% else %}
            <button class = "user_hover_navigation_logout" onclick="window.location.href='/login'">Войти</button>
          {% endif %}
        </div>
      </div>
    </header>
    {% endif %}

    {% if hide_circle_buttons %}
    <div class="circle-buttons-container">
       <button class="circle-button" onclick="window.location.href='/FAQ'">
        <img src="{{ url_for('static', filename='img/faq.png') }}" alt="{{ _('FAQ') }}" class="circle-button-icon">
      </button>
      <button class="circle-button" onclick="window.location.href='/login'">
        <img src="{{ url_for('static', filename='img/people.png') }}" alt="{{ _('Логин') }}" class="circle-button-icon">
      </button>
      <button class="circle-button" onclick="window.location.href='/'">
        <img src="{{ url_for('static', filename='img/logo_blue.png') }}" alt="{{ _('Главная') }}" class="circle-button-icon">
      </button>
    </div>
    {% endif %}

    {% if left_men_block %}
      {% block left_menu %}
        <nav class = "left_menu">
            <ul class="sticky_status" id="status-reportList">
                <li class="{% if active_tab == 'common' %}active_li{% endif %}" onclick="window.location.href='/profile/common'">
                    <a class="left_menu_text">Общее</a>
                    <img class="left_menu_img" src="{{ url_for('static', filename='img/obsh.png')}}" alt="">
                </li>
                <li class="{% if active_tab == 'pass' %}active_li{% endif %}" onclick="window.location.href='/profile/password'">
                    <a>Безопасность</a>
                    <img class="left_menu_img" src="{{ url_for('static', filename='img/pass.png')}}" alt="">
                </li>
                <li class="{% if active_tab == 'session' %}active_li{% endif %}" onclick="window.location.href='/profile/session'">
                    <a>Сессии</a>
                    <img class="left_menu_img" src="{{ url_for('static', filename='img/out.png')}}" alt="">
                </li>
                <li onclick="window.location.href='/logout'">
                    <a>Выйти</a>
                    <img class="left_menu_img" src="{{ url_for('static', filename='img/stop.png')}}" alt="">
                </li>
            </ul>
        </nav>
      {% endblock %}
    {% endif %}


    <main> 
      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissable fade show custom-alert" role="alert">
              <img src="{{ url_for('static', filename='img/' + ('error.png' if category == 'error' else 'succes.png')) }}" alt="">
              <div class = "p_message_cont">
                <p style = "font-weight: 600; padding-bottom: 5px;">{% if category == 'error' %} Ошибка {% else %} Успех {% endif %}</p>
                <p> {{ message }} </p>
              </div>
              <div class="notif-progress"></div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

    {% block content %} 
    {% endblock %}

    {% block javascript %} 
  
      <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}

    </main>
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-row">
              <div class="footer-col">
                  <h4 onclick="window.location.href='/'">ErespondentN</h4>
                  <ul>
                      <li onclick="window.location.href='/news'"><a>Новости</a></li>
                      <li onclick="window.location.href='/contacts'"><a>Контакты</a></li>
                      <li onclick="window.location.href='/FAQ'"><a>FAQ</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                <h4>Сеть</h4>
                <div class="social-links">
                  <a href="https://t.me/energoeffectgovby" target="_blank"><i class="fab fa-telegram"></i></a>
                  <a href="https://www.youtube.com/channel/UCNnRgj7ycWccZZCeU4j_FlA" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
              <div class="footer-col">
                <h4 onclick="window.location.href='/'"></h4>
                <ul>
                    <li>
                      <img  src="{{ url_for('static', filename='img/emailW.png')}}" alt="">
                      <a href="mailto:energoeffect@gosstandart.gov.by">energoeffect@gosstandart.gov.by</a>
                    </li>
                    <li>
                      <img  src="{{ url_for('static', filename='img/telephoneW.png')}}" alt="">
                      <a href="tel:+80173385051">+8 (017) 338-50-51</a>
                    </li>
                    <li>
                      <img  src="{{ url_for('static', filename='img/point_of_placeW.png')}}" alt="">
                      <a>пл. Свободы 17, Минск, Минская область</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="footer-row" style = "text-align: center; margin-top: 30px; justify-content: center;">
                      <div class="footer-col">
                        <a class = "footer_org" href="https://energoeffect.gov.by">© 2025 ОАО "Энергоэффект"</a>
                        
                      </div>
          
            
          </div>
      </div>
  </footer>
  </body> 
</html>
