{% extends "base.html" %}
{% block content %}
<div class="blurred-background"></div>
<div class="begin-page">
    <div class="hellow_row">
        <div class= "hellow_row_left">
            <div class = "hellow_row_name">
                Информационная система учета и обработки отчетов предприятий "сведения о нормах расхода и (или) предельных уровнях потребления ТЭР"
            </div>
            <div class = "hellow_row_dop_name">
                в соответствии с нормативными документами по нормированию расхода топливно-энергетических ресурсов
            </div>
            <div class = "hellow_buttonarea"> 
                {% if current_user.is_authenticated%}
                    {% if user.type == 'Респондент' or user.type == 'Администратор'%}
                        <button onclick="window.location.href='/report-area'" class="blue_btn">
                            {{ icons.icon_reports() }}
                            <span>Подать отчет</span>
                        </button> 
                    {% elif user.type == 'Аудитор' or user.type == 'Смотрящий'  %}
                        <button onclick="window.location.href='/audit-area/not_viewed?year={{previous_year}}&quarter={{previous_quarter}}';" class = "blue_btn">
                            <img src="/static/img/Search.svg" alt="" class="button-icon">
                            <span>Просмотр отчетов</span>
                        </button> 
                    {% endif %}

                {% else %}
                    <button onclick="window.location.href='/login'" class = "blue_btn">
                        <img src="/static/img/Login-n.svg" alt="" class="button-icon">
                        <span>Войти</span>
                    </button>
                    <button onclick="window.location.href='/sign'" class = "invisible-btn">Зарегистрироваться</button>
                {% endif %}
            </div>
        </div>    
        {#<div class= "hellow_row_right">
            
        </div>#} 
        <div class="scroll-to-down">
            {%if current_user.is_authenticated%}
                <button onclick="scrollToAdmin()">
                    <img src="{{ url_for('static', filename='img/support.png')}}" alt="">
                </button>
            {% endif %}
        </div>
    </div>
</div><div class="statistics-row">
        <div class="statistics-row-left">
            <img src="{{ url_for('static', filename='img/stats.png')}}" alt="">
        </div>
        <div class="statistics-row-right">
            <div class="item_stat">  
                <div class="counter-roller" data-target="{{ organization_data }}">
                    <div class="digits-container"></div>
                </div>
                <a class="stat_name">предприятий</a>
            </div>

            <div class="item_stat">
                <div class="counter-roller" data-target="{{ report_data }}">
                    <div class="digits-container"></div>
                </div>
                <a class="stat_name">отчетов</a>
            </div>

            <div class="item_stat">
                <div class="counter-roller" data-target="{{ user_data }}">
                    <div class="digits-container"></div>
                </div>
                <a class="stat_name">респондентов</a>
            </div>
        </div>
    </div>
<div class="begin-page">
    
    {%if latest_news%}
        <div class="news-row" id = "news_row">
            <div class = "news-row-left">
                <div class="item_news">  
                    <a class = "news_name" href = "/news" >Новости</a>
                    <a href="/news/{{latest_news.id}}"  style = "color: black;">
                        <p id = "toadmin"  class = "title-news">{{ latest_news.title[:70] }}{% if latest_news.title|length > 70 %}...{% endif %}</p>
                    </a>
                    <p class = "text-news">{{ latest_news.text[:300] }}{% if latest_news.text|length > 300 %}...{% endif %}</p>
                </div>
            </div>
            <div class = "news-row-right">                     
                <a href="/news/{{latest_news.id}}" >
                    <img src="{{ url_for('static', filename='img/news/' + latest_news.img_name) }}" alt="">
                </a>  
            </div>
        </div>
    {%else%}
    {%endif%}
    {%if current_user.is_authenticated%}
    <div class="askquestion-row">
        <div class="askquestion_form">
            <div class="askquestion_name">Форма обратной связи</div>
            <form action="/send_for_admin" method="POST" id="askquestion-form">
                <div class="form-group">
                 
                    <select name="askquestion_type" id="questionType" required>
                        <option value="">Выберите тип вопроса</option>
                        <option value="organization-none">Нет организации в списке</option>
                        <option value="organization-edit">Изменить данные организации</option>
                        <option value="other">Другое</option>
                    </select>
                </div>

                <div id="organizationSearchBlock" class="search-org-container" style="display: none;">
                    <div class="form-group">
                        <label for="organizationSearch">Поиск организации</label>
                        <textarea type="text" id="organizationSearch" placeholder="Поиск организации по названию или ОКПО" autocomplete="off" maxlength="150"></textarea>
                    </div>
                    <div id="searchResults" class="search-results-dropdown"></div>
                </div>

                <div id="newOrgData" style="display: none;">
                    <div class="new-org-data">
                        <div class="info-title">
                            <div class="answer-highlight-second">
                                <div class="highlight-icon">💡</div> 
                                <p>Отредактируйте реквизиты организации, заменив устаревшие данные на текущие.</p>
                            </div>
                        </div>
                        
                        <div class="form-group comparison-field-group">
                            <label for="newOrganizationName">
                                Новое наименование организации
                            </label>
                            <textarea name="new_organization_name" id="newOrganizationName" placeholder="Новое наименование организации" maxlength="150"></textarea>
                            <span class="old-data-hint" id="oldNameHint"></span>
                            <div class="comparison-status-inline" id="nameStatusInline"></div>
                        </div>
                        
                        <div class="form-group comparison-field-group">
                            <label for="newOrganizationYnp">
                                Новый код УНП
                            </label>
                            <input type="text" name="new_organization_ynp" id="newOrganizationYnp" placeholder="Новый код УНП" maxlength="9">
                            <span class="old-data-hint" id="oldYnpHint"></span>
                            <div class="comparison-status-inline" id="ynpStatusInline"></div>
                        </div>
                        
                        <div class="form-group comparison-field-group">
                            <label for="newOrganizationOkpo">
                                Новый код ОКПО
                            </label>
                            <input type="text" name="new_organization_okpo" id="newOrganizationOkpo" placeholder="Новый код ОКПО" maxlength="12">
                            <span class="old-data-hint" id="oldOkpoHint"></span>
                            <div class="comparison-status-inline" id="okpoStatusInline"></div>
                        </div>
                    </div>
                </div>

                <div id="addOrgFields">
                    <div class="form-group">
                        <label for="organizationName">Наименование предприятия</label>
                        <textarea type="text" name="organization_name" id="organizationName" placeholder="Введите полное наименование предприятия" maxlength="150"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="organizationYnp">Код УНП</label>
                        <input type="text" name="organization_ynp" id="organizationYnp" placeholder="Введите код УНП" maxlength="9">
                    </div>
                    <div class="form-group">
                        <label for="organizationOkpo">Код ОКПО</label>
                        <input type="text" name="organization_okpo" id="organizationOkpo" placeholder="Введите код ОКПО" maxlength="12">
                    </div>
                </div>

                <div class="form-group">
                    <label for="problemDescription">Ваш вопрос</label>
                    <textarea type="text" name="problem_description" id="problemDescription" placeholder="Напишите ваш вопрос" maxlength="300"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="{{current_user.email}}" readonly>
                </div>

                <input type="hidden" name="selected_org_id" id="selectedOrgId">
                <input type="hidden" name="organization_old_okpo" id="organizationOldOkpo">
                <input type="hidden" name="organization_old_ynp" id="organizationOldYnp">
                <input type="hidden" name="organization_old_name" id="organizationOldName">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <button type="submit" class="blue_btn" id="send-btn">
                    <img src="/static/img/Send.svg" alt="" class="button-icon">
                    <span>Отправить вопрос</span>
                </button>
            </form>
        </div>
    </div>
    {%else%}
    {%endif%}
</div>
<script src="{{ url_for('static', filename='js/question_form.js') }}"></script>
{% endblock %}