{% extends "base.html" %}
{% block title %}Код идентификации - ErespondentN{% endblock %}
{% block content %}
<div class="blurred-background"></div>
<div class="page_log_reg">
    <div class="log_reg_contener">
        <div class="log_reg_img"></div>
    
        <div class="log-reg-form"> 
            <form action="/code" method="POST">
                <div class="link_cont" style = "margin-bottom: 25px;">
                    <a onclick="window.location.href='/login'" class = "active" style="margin-right: 19px;">Введите код для активации</a>
                </div>
                <!-- <div class="answer-highlight-second" style = "max-width: 450px;">
                    <div class="highlight-icon">💡</div>
                    <p>Код подтверждения будет отправлен на указанную электронную почту. Время доставки может составлять от нескольких секунд до нескольких минут. Если он так и не пришел прочитайте пожалуйста <a href="/FAQ#faq16" target="_blank" class = "instruction-link">как решить проблему</a>.</p>
                </div> -->
                <div class="answer-highlight-second" style="max-width: 450px;">
                    <div class="highlight-icon">⚠️</div>
                    <p><strong>Ведутся технические работы</strong></p>
                    <p>В данный момент возможны задержки с доставкой кода подтверждения отправленного на вашу почту.</p>
                    <br>
                    <p>Если код не пришёл, попробуйте пожалуйста позже.</p>
                </div>
                <div class="authorization_data">
                    <div class="activation_code_container">
                        {% for i in range(5) %}
                        <input
                            type="text"
                            name="activation_code_{{ i }}"
                            maxlength="1"
                            class="activation_code_input"
                            required
                        />
                        {% endfor %}
                    </div>
                </div>
                    
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="log_buttons_area">
                    <button type="submit" class="submit_button blue_btn">         
                        <img src="/static/img/Send.svg" alt="" class="button-icon">
                        <span>Отправить</span>         
                    </button>
                </div>
            </form>
        
            <div class = "forgot_cont">
                <button class = "under-link" id = "resend-cod" type="button">
                    Отправить ещё раз
                </button>
            </div>
            
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/code.js') }}"></script>
{% endblock %}