{% extends "base.html" %}
{% block title %}Контакты - ErespondentN{% endblock %}
{% block content %}

<div class="blurred-background"></div>

<div class="contacts_cont">
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info"> 
            <span>
                <a class = "hover_a" href="/">ErespondentN</a>
            </span>
            <span> 
                <img src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
            </span>
            <span>
                <a>Контакты</a>
            </span>
        </div>
    </div>
    <div class="contacts_box">
        <div class="contacts_info">
            <div class="contacts_info_name">
                <a>Контакты</a>
            </div>
            <div class="contacts_content" style = "padding-bottom: 0;">
                <div class="contacts_content_row">
                    <img  src="{{ url_for('static', filename='img/point_of_place.png')}}" alt="">
                    <a>пл. Свободы 17, Минск</a>
                </div> 
                <div class="contacts_content_row">
                    <img  src="{{ url_for('static', filename='img/email-ind.png')}}" alt="">
                    <a>220030</a>
                </div>
                <br>
                <div class="contacts_content_row">
                    <img  src="{{ url_for('static', filename='img/email.png')}}" alt="">
                    <a href="mailto:energoeffect@gosstandart.gov.by">energoeffect@gosstandart.gov.by</a>
                </div>
                <div class="contacts_content_row">
                    <img  src="{{ url_for('static', filename='img/telephone.png')}}" alt="">
                    <a href="tel:+375173385051">+375 17 338-50-51 (приемная)</a>
                </div>
                <div class="contacts_content_row">
                    <img  src="{{ url_for('static', filename='img/telephone.png')}}" alt="">
                    <a href="tel:+375172315563">+375 17 365-04-33 (техподдержка)</a> 
                </div>
            </div>
        </div>  
        <div class="contacts-map">
            <iframe 
                src="https://yandex.by/map-widget/v1/?indoorLevel=1&ll=27.553503%2C53.904416&mode=whatshere&whatshere%5Bpoint%5D=27.553504%2C53.904416&whatshere%5Bzoom%5D=17&z=16&controls=none" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
