{% extends "base.html" %}
{% block title %}Код идентификации - ErespondentN{% endblock %}
{% block content %}
<div class="blurred-background"></div>
<div class="page_log_reg">
    <div class="log_reg_contener">
        <div class="log_reg_img"></div>
    
        <div class="log-reg-form"> 
            <form action="/relod-password" method="POST">
                <div class="link_cont" style = "margin-bottom: 25px;">
                    <a onclick="window.location.href='/login'" class = "active" style="margin-right: 19px;">Забыли пароль?</a>
                </div>
                <div class="answer-highlight-second" style = "max-width: 450px;">
                    <div class="highlight-icon">💡</div>
                    <p>Введите ваш электронный адрес. Если аккаунт существует, <a class = "instruction-link">новый пароль</a> будет отправлен на указанную почту. Время доставки — от нескольких секунд до нескольких минут.</p>
                </div>
                <div class = "aftorization_data">
                    <div class="clear-input_container">
                        <input
                            type="email"
                            name="email_relod"
                            placeholder="E-mail"
                            required
                        />
                        <span class="clear-btn">&times;</span>
                    </div>
                </div> 
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="log_buttons_area">
                    <button type="submit" class="submit_button blue_btn">         
                        <img src="/static/img/Send.svg" alt="" class="button-icon">
                        <span>Отправить</span>         
                    </button>
                </div>
            </form>
        
            <div class = "forgot_cont">
                <button class = "under-link" id = "under-link" onclick="window.location.href='/login'">
                    К авторизации
                </button>
            </div> 
        </div>
    </div>
</div>
{% endblock %}