{% extends "base.html" %}
{% block title %}Вход - ErespondentN{% endblock %}
{% block content %}
{{ content.blurback() }}
<div class = "page_log_reg">
    <div class = "log_reg_contener">
        <div class = "log_reg_img">
        </div>
        <div class = "log-reg-form" > 
            <form action = "/login" method="POST">
                <div class = "link_cont">
                    <a onclick="window.location.href='/login'" class = "active" style = "margin-right: 19px;">Авторизация</a>
                    <a onclick="window.location.href='/sign'">Регистрация</a>
                </div>
                <div class = "aftorization_data">
                    <div class="float-label-container">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="float-input"
                            placeholder=" "
                            required
                        />
                        <span class="clear-btn">&times;</span>
                        <label for="email" class="float-label">Email</label>
                    </div>
                    <div class="float-label-container">
                        {{ icons.icon_eye() }}
                        {{ icons.icon_close_eye() }}
                        <input
                            type="password"
                            id="password-field"
                            name="password"
                            class="float-input"
                            placeholder=" "
                            required
                        />
                        <label for="password" class="float-label">Пароль</label>
                    </div>
                </div>
                <div class = "remember_cont">
                    <input type="checkbox" name= "remember">
                    <span>Запомнить меня</span>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class = "submit_button blue_btn">
                    <img src="/static/img/Login-n.svg" alt="" class="button-icon">
                    <span>Войти</span>
                </button>
            </form>
            <div class = "log_buttons_area">
                <div class="under-link">
                    <a onclick="window.location.href='/forgot-password'" type="submit">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}