{% extends "base.html" %}
{% block title %}Безопасность - ErespondentN{% endblock %}
{% block content %}

<div class="profile_page">
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info"> 
            <span>
                <a class = "back_orbital" href="/profile">Профиль</a>
            </span>
            <span class = "svg-arr"> 
                {{ icons.icon_arrow_right() }}
            </span>
            <span>
                <a>Безопасность</a> 
            </span>
        </div>
    </div>
    <div class="contener_row">
        {% block left_menu %}
            {{ super() }}
        {% endblock %}
        <div class="personal-info_area">
            <form action="/profile/password" method="POST">
                <table>
                    <tr>
                        <td>Старый пароль</td>
                        <td>
                            <input                 
                                type="text"
                                id="old_password"
                                name="old_password"
                                placeholder="Введите старый пароль"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>Новый пароль</td>
                        <td>
                            <div class="security-container">
                                <input
                                    type="password"
                                    id="password-field"
                                    name="new_password"
                                    placeholder="Введите новый пароль"
                                />
                                {{ icons.icon_eye() }}
                                {{ icons.icon_close_eye() }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Подтверждение пароля</td>
                        <td>
                            <div class="security-container">
                                <input
                                    type="password"
                                    id="password-field1"
                                    name="conf_new_password"
                                    placeholder="Подтверждение пароля"
                                />
                                {{ icons.icon_eye1() }}
                                {{ icons.icon_close_eye1() }}
                            </div>
                        </td>
                    </tr>
                </table>                  
                <div class="dop-info-cont">
                    <div class="dop-cont-note">
                        <svg class="dop-cont-icon" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M1 10C1 10 4 4 10 4C16 4 19 10 19 10C19 10 16 16 10 16C4 16 1 10 1 10Z" stroke="currentColor" fill="none"/>
                            <circle cx="10" cy="10" r="3" stroke="currentColor" fill="none"/>
                        </svg>
                        <span>
                            — Показать/скрыть пароль
                        </span>
                    </div>
                </div>  
                
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">            
                <button class = "blue_btn" type="submit">
                    <img src="/static/img/Add.svg" alt="" class="button-icon">
                    <span>Применить изменения</span>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

