{% extends "base.html" %}
{% set report_names = {
    'fuel': 'Раздел Топливо -',
    'heat': 'Раздел Тепло -',
    'electro': 'Раздел Электроэнергия -'
} %}

{% block title %}
    {{ report_names[report_type] }} Отчет {{ current_report.year }}/{{ current_report.quarter }} - ErespondentN
{% endblock %}
{% block content %}

<div class = "report-area_page">
    <div class = "report-area-menu">
        <div class="report-area_podmenu">    
            <div class="content-pod-menu">
                <nav>
                    <ul>
                        <section>    
                            <div class="functions_menu {% if current_version.status in ['Отправлен', 'Одобрен'] %}disabled{% endif %}">
                                <li data-action="link_addSection_modal">
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png')}}" alt="">
                                    <a class = "li-title"><span>Добавить</span></a>
                                </li>
                            </div>
                            <a class="functions_menu_name">Продукция</a>
                        </section>           
                        <section>
                            <div class = "functions_menu">
                                <li onclick="window.location.href='/report-area/fuel/{{current_version.id}}'" 
                                {%if section_number == 1 %} 
                                    class = "activefunctions_menu"
                                {%endif%}>         
                                    <img src="{{ url_for('static', filename='img/Toplivo.png')}}" alt="">
                                    <a class = "li-title"><span>Топливо</span></a>   
                                </li>
                                <li onclick="window.location.href='/report-area/heat/{{current_version.id}}'"
                                {%if section_number == 2 %} 
                                    class = "activefunctions_menu"
                                {%endif%}>                      
                                    <img src="{{ url_for('static', filename='img/Teplo.png')}}" alt="">
                                    <a class = "li-title"><span>Тепло</span></a>
                                </li>

                                <li onclick="window.location.href='/report-area/electro/{{current_version.id}}'" 
                                {%if section_number == 3 %} 
                                    class = "activefunctions_menu"
                                {%endif%} >           
                                    <img src="{{ url_for('static', filename='img/Electro.png')}}" alt="">
                                    <a class = "li-title"><span>Электро</span></a>   
                                </li>  
                            </div>
                            <a class="functions_menu_name">Раздел</a>
                        </section>
                        <section>
                            <div class = "functions_menu">                       
                                <li onclick="window.location.href='/report-area/tickets/{{current_version.id}}'">
                                    <img src="/static/img/icon_print_file.png" alt="">
                                    <a class = "li-title"><span>Квитанции</span></a>
                                </li>                                             
                                <form style = "display: none;" id = "export-table-form" action="/export-table" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type = "hidden" name = "version_id" value = "{{current_version.id}}" readonly>
                                    <input type = "hidden" name = "numb_section" value = "1" readonly>
                                </form>
                                <li id = "export-table-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_excel.png')}}" alt="">
                                    <a class = "li-title"><span>Экспорт</span></a>   
                                </li>
                            </div>  
                            <a class="functions_menu_name">Отчет</a>
                        </section>
                        
                        {% if current_version.status != 'Одобрен' and current_version.status != 'Готов к удалению' and current_version.status != 'Есть замечания'%} 
                        <section>
                            <div class = "functions_menu">  
                                {% if current_version.status == 'Отправлен'%} 
                                    <form id="cancel-sending-form" action="/cancel-sent-version/{{current_version.id}}" method="POST" style="display: none;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    </form>                       
                                    <li id = "cancel-sending-bnt">           
                                        <img src="{{ url_for('static', filename='img/cancel-send.png')}}" alt="">
                                        <a class = "li-title">
                                            <span>Отменить</span>   
                                        </a>
                                    </li>  
                                {% endif %}
                                
                                {% if current_version.status == 'Заполнение'%} 
                                    <form id="control-report-form" action="/control-version/{{current_version.id}}" method="POST" style="display: none;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    </form>
                                    <li id="control-report-btn">           
                                        <img src="{{ url_for('static', filename='img/icon_control.png')}}" alt="">
                                        <a class = "li-title"><span>Контроль</span></a>   
                                    </li> 
                                {% endif %}
                                
                                {% if current_version.status == 'Контроль пройден'%} 
                                    <form id="agreed-report-form" action="/agreed-version/{{current_version.id}}" method="POST" style="display: none;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    </form>
                                    <li id = "agreed-report-btn">
                                        <img src="{{ url_for('static', filename='img/icon_galochka.png') }}" alt="">
                                        <a class = "li-title"><span>Согласовать</span></a>
                                    </li>
                                {% endif %}

                                {% if current_version.status == 'Согласовано'%} 
                                    <li id = "sent-report-btn">
                                        <img src="{{ url_for('static', filename='img/icon_send.png') }}" alt="">
                                        <a class = "li-title"><span>Отправить</span></a>
                                    </li>
                                {% endif %}
                            </div>  
                            <a class="functions_menu_name">{% if current_version.status == 'Отправлен'%} Отправка {% else %}Cтатус{% endif %}</a>
                        </section>
                        {% else %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div> 
    </div>      
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info"  style = "margin: 10px;"> 
            <span>
                <a class = "back_orbital" href="/report-area">Вернуться к отчетам</a>
            </span>
            <span class = "svg-arr"> 
                {{ icons.icon_arrow_right() }}
            </span>
            <span>
                <a style = "font-weight: 600;">Статус </a>
                {% set version = current_version %}       
                {% if version %}
                    {{ content.status_report(version) }}
                {% else %}
                {% endif %}
            </span>
            <span class = "svg-arr"> 
                
            </span>
            <span class="status-badge video-check" 
                title="Перейти к видео-инструкции" 
                onclick="window.open('/FAQ#faq9', '_blank'); return false;">
                {{ icons.icon_video_redirect() }} 
                <span>Видео-инструкция</span>
            </span>
        </div>
    </div>
    <div class = "report-area">
        <table class = "table-report-area">
            <thead class="table-title">
                <tr>
                    <th class="resizable" rowspan="2"></th>
                    <th class="resizable" style = "white-space: nowrap;" rowspan="2">Наименование вида продукции (работ услуг)<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код строки<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код по ОКЭД<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Единица измерения<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Произведено продукции (работ, услуг) за отчетный период<div class="resizer"></div></th>
                    <th class="resizable" colspan="2">Израсходовано на единицу продукции (работы, услуги) за отчетный период, 
                        {%if section_number == 1 %}кг у.т.{%elif section_number == 2 %}Мкал{%elif section_number == 3 %}кВтч{%endif%}
                        <div class="resizer"></div>
                    </th>
                    <th class="resizable" colspan="3">Израсходовано на всю произведенную продукцию (работу, услугу) за отчетный период, 
                        {%if section_number == 1 %} т у.т.{%elif section_number == 2 %}Гкал{%elif section_number == 3 %}тыс.кВтч{%endif%}
                        <div class="resizer"></div>
                    </th>
                    <th class="resizable" rowspan="2">Примечание<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable" style = "width: 80px;">Экономия(-), перерасход(+)<div class="resizer"></div></th> 
                </tr>
                <tr>
                    <th></th>
                    <th class="resizable">A<div class="resizer"></div></th>
                    <th class="resizable">Б<div class="resizer"></div></th>
                    <th class="resizable">В<div class="resizer"></div></th>
                    <th class="resizable">Г<div class="resizer"></div></th>
                    <th class="resizable">1<div class="resizer"></div></th>
                    <th class="resizable">2<div class="resizer"></div></th>
                    <th class="resizable">3<div class="resizer"></div></th>
                    <th class="resizable">4<div class="resizer"></div></th>
                    <th class="resizable">5<div class="resizer"></div></th>
                    <th class="resizable">6<div class="resizer"></div></th>
                    <th class="resizable">7<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in sections %}
                <tr class = "section_row" data-id="{{ row.id }}" >
                    <td>
                        <input 
                            type = "hidden" 
                            name = "id_section" 
                            value = "{{ row.id }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            class = "product-name_fuel" 
                            type = "text" 
                            value = "{{ row.product.NameProduct }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            class = "product-cod_fuel" 
                            name = "product-cod_fuel"
                            value = "{{ row.product.CodeProduct }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Oked_fuel" 
                            value = "{{ row.Oked }}" 
                            readonly
                        >
                    </td>
                    <td> 
                        <input  
                            type = "text"
                            style = "white-space: nowrap; text-align: left;" 
                            value = "{{ row.product.unit.NameUnit }}" 
                            readonly
                        >
                    </td> 
                    <td>
                        <input  
                            type = "text"
                            name = "produced_fuel"
                            value = "{{ row.produced }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Quota_fuel" 
                            value = "{{ row.Consumed_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Fact_fuel" 
                            value = "{{ row.Consumed_Fact }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Total_Quota_fuel" 
                            value = "{{ row.Consumed_Total_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>     
                        <input  
                            type = "text"
                            name = "Consumed_Total_Fact_fuel" 
                            value = "{{ row.Consumed_Total_Fact }}" 
                            readonly
                        >
                    </td>
                    {% if row.total_differents is not none and row.total_differents <= 0.0 %}
                        <td style="background-color: #a2ff77;">
                            <input  
                                type="text"
                                style="background-color: #a2ff77; color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {% else %}
                        <td style="background-color: #ff7676;">
                            <input  
                                type="text"
                                style="background-color: #ff7676; color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {% endif %}
                    <td> 
                        <input  
                            type = "text"
                            name = "note_fuel" 
                            value = "{{ row.note }}" 
                            readonly
                        >
                    </td>     
                    <td colspan="2"></td>      
                </tr>   
                {%endfor%}
            </tbody>
        </table>  
    </div>
</div>

<div id="addSection_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Добавить продукцию</h3>
            {{ icons.icon_close() }}
        </div>
        <div class="answer-highlight-second">
            <div class="highlight-icon">💡</div>
            <p><strong>Выберите</strong> необходимую продукцию и заполните <strong>активные</strong> парамметры. Если у вас возникнут вопросы, пожалуйста, ознакомьтесь с <a href="/FAQ#faq8" class="instruction-link">инструкцией</a> по работе.</p>
        </div>
        <form method="POST" action="/add-section-param">
            <div class="choose-product-area">
                <div class = "serchProduct_cont">
                    <a>Поиск</a>
                    <input type="text" name = "search_product" >
                </div>
                <table class="table-report-area">
                    <thead class = "table-title">
                        <tr>
                            <th>Код продукта</th>
                            <th>Наименование продукта</th>
                            <th>Ед. изм.</th>
                            <th style="display:none;">id</th>
                        </tr>
                    </thead>
                    <tbody id="chooseProdTableBody">
                        {% for row in dirProduct %}
                            <tr data-id="{{ row.id }}">
                                <td>{{row.CodeProduct}}</td>
                                <td style=" white-space: wrap; text-align: left;">{{row.NameProduct}}</td>
                                <td>{{row.unit.NameUnit}}</td>
                                <td style="display: none;">{{row.id}}</td>
                            </tr>
                        {% endfor %}
                        <tr id="noResultsRow" style="display: none;">
                            <td colspan="3">Нет результатов</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class = "modal_table">
                <tr>
                    <td>[A] Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <div> 
                        <div style="position: relative;">
                            <input type="text" name="name_of_product" style="width: 250px; text-align: left;" readonly required>
                            <a id="nameOfProductButton">+</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>[B] ОКЭД</td>
                    <td>
                        <input                 
                            type="text"
                            name="oked_add"
                            maxlength="5" 
                            autocomplete="off"
                            class="numericInput"
                            required
                        >
                    </td>
                </tr>
                <tr>
                    <td>[1] Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input                 
                            type="text"
                            name="produced_add"
                            value = "0,00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[2] Утвержденная норма на единицу продукции</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Quota_add"
                            value = "0,00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[3] Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Fact_add"
                            value = "0,00"
                            style = "color: rgb(132, 132, 132);"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[4] Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Quota_add"
                            value = "0,00"
                            style = "color: rgb(132, 132, 132);"
                            class = "numeric_dotInput"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[5] Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Fact_add"
                            value = "0,00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input
                            style = "width: 250px; text-align: left;"          
                            type="text"
                            name="note_add"
                            autocomplete="off"
                            maxlength="200"
                        >
                        <input                 
                            type="hidden"
                            value = "{{current_version.id}}"
                            name="current_version"
                            readonly
                        >
                        <input                 
                            type="hidden"
                            id = "add_id_product"
                            name="add_id_product"
                            readonly
                        >
                        <input type="hidden" value="{{section_number}}" name="section_number" id="section_number" readonly>
                    </td>
                </tr>
            </table>
            <div class="dop-info-cont" style = "margin: 5px 0;">
                <div class="dop-cont-note">
                    <span>
                        <span class="gray-field-note">Серый текст</span> — только для просмотра
                    </span>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="model_but_area right">
                <button type="submit" class="blue_btn">
                    <img src="/static/img/Add.svg" alt="" class="button-icon">
                    <span>Добавить продукцию</span>
                </button>
            </div>
        </form>   
    </div>
</div>

<div id="changefuel_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Редактирование продукции</h3>
            {{ icons.icon_close() }}
        </div>
        <div class="answer-highlight-second">
            <div class="highlight-icon">💡</div>
            <p><strong>Отредактируйте активные</strong> параметры. Если у вас возникнут вопросы, пожалуйста, ознакомьтесь с <a href="/FAQ#faq8" class="instruction-link">инструкцией</a> по работе.</p>
        </div>
        <form method="POST" action="/change-section">
            <table class="modal_table">
                <tr>
                    <td>[A] Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input 
                            type="text" 
                            name="product_name" 
                            id="modal_product_name" 
                            style=" width: 250px; text-align: left; color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[B] ОКЭД</td>
                    <td>
                        <input 
                            type="text" 
                            name="oked_change" 
                            id="modal_oked" 
                            class = "numericInput" 
                            maxlength="5" 
                            style="color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[1] Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input
                            type="text" 
                            name="produced_change" 
                            class = "numeric_dotInput" 
                            id="modal_produced" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[2] Утвержденная норма на единицу продукции</td>
                    <td>
                        <input 
                            type="text"
                            name="Consumed_Quota_change" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Quota" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[3] Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Fact_change" 
                            id="modal_Consumed_Fact" 
                            style="color: rgb(132, 132, 132);" 
                            class = "numeric_dotInput"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[4] Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Quota_change" 
                            id="modal_Consumed_Total_Quota" 
                            style="color: rgb(132, 132, 132);" 
                            readonly
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[5] Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Fact_change" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Total_Fact" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input 
                            style="width: 250px; text-align: left;" 
                            type="text" 
                            name="note_change" 
                            id="modal_note" 
                            maxlength="200"
                            autocomplete="off"
                        >
                        <input 
                            type="hidden" 
                            id="modal_id" 
                            name="id" 
                            readonly
                        >
                        <input 
                            type="hidden" 
                            value="{{ current_version.id }}" 
                            name="current_version"
                            readonly
                        >
                    </td>
                </tr>
            </table>            
            <div class="dop-info-cont" style = "margin: 5px 0;">
                <div class="dop-cont-note">
                        <svg class="dop-cont-icon" viewBox="0 0 20 20" fill="currentColor">
                            <circle cx="10" cy="10" r="8" stroke="currentColor" stroke-width="1.5" fill="none"/>
                            <path d="M10 7v4M10 13h.01" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    <span>
                        <span class="gray-field-note">Серый текст</span> — только для просмотра
                    </span>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <div class="model_but_area right">
                <button type="submit" class="blue_btn">
                    <img src="/static/img/Add.svg" alt="" class="button-icon">
                    <span>Применить изменения</span>
                </button>
            </div>           
        </form> 
    </div>
</div>

<div id="contextMenu_report" class="white-panel">
    <button id="link_changefuel_modal" class="{% if current_version.status in ['Отправлен', 'Одобрен'] %}disabled{% endif %}">
        <svg  viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
        </svg>
        <span>Редактировать</span>
    </button>

    <form id="remove_section_form" method="POST" action="/remove_section/">
        <button type="submit" id="remove_section" class="{% if current_version.status in ['Отправлен', 'Одобрен'] %}disabled{% endif %}">
            <svg  viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
            <span>Удалить</span>
        </button>
    </form>
</div>
 
<script type="module" src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}