{% extends "base.html" %}
{% block title %}Отчеты - ErespondentN{% endblock %}
{% block content %}

<div class="report-area_page">
    <div class="report-area_menu">
        <div class="report-area_podmenu">
            <div class="content-podmenu">
                <nav>
                    <ul>
                        <section>
                            <div class="functions_menu">
                                <li id = "link_add_report">
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png') }}" alt="Создать отчет">
                                    <a>Добавить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">
                                Отчет
                            </a>
                        </section>
                        <section>
                            <div class="functions_menu">
                                <li id = "link_edit_sections" data-action="editSectionButtonMenu">
                                    <img src="{{ url_for('static', filename='img/edit.png') }}" alt="Редактировать разделы">
                                    <a>Изменить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">
                                Разделы
                            </a>
                        </section>
                        <section>
                            <div class="functions_menu">
                                <form id="export-version-form" action="/export-version/{{current_version}}" method="POST" style="display: none;">
                                </form>    
                                <li id="export_versionButton">
                                    <img src="{{ url_for('static', filename='img/icon_excel.png') }}" alt="">
                                    <a>Экспорт</a>
                                </li>

                                <li id="control_versionButton">
                                    <img src="{{ url_for('static', filename='img/icon_control.png') }}" alt="">
                                    <a>Контроль</a>
                                </li>

                                    <form id="control-version-form" action="/control_version" method="POST" style="display: none;">
                                    </form>
                        
                                <li id = "agreedVersionButton">
                                    <img src="{{ url_for('static', filename='img/icon_galochka.png') }}" alt="">
                                    <a>Согласовать</a>
                                </li>
                                    <form id="agreed-version-form" action="/agreed_version" method="POST" style="display: none;">
                                    </form>
                                <li id = "sentVersionButton">
                                    <img src="{{ url_for('static', filename='img/icon_send.png') }}" alt="">
                                    <a>Отправить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">
                                Версия отчета
                            </a>
                        </section>
                       
                        <section>
                            <div class="functions_menu">
                                <li id = "PrintTicketButton">
                                    <img src="{{ url_for('static', filename='img/icon_print_file.png') }}" alt="">
                                    <a>Печать</a>
                                </li>
                                <form id="print-ticket-form" action="/print_ticket" method="POST" style="display: none;">
                                </form>
                            </div>
                            <a class="functions_menu_name">
                                Квитанция
                            </a>
                        </section>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--номер отчета для автоматического раскрытия {{ open_report_id }}  -->
    <div id="report_automat_open" data-open-report-id="{{ open_report_id }}"></div> 
    
    <div class="report-area" >
        <table class="table_report-area">
            <thead class="order-table_titels">
                <tr>
                    <th></th>
                    <th style = "white-space: nowrap;">+/&times;</th>
                    <th class="resizable" style="min-width: 120px;">ОКПО<div class="resizer"></div></th>
                    <th class="resizable" style="white-space: nowrap; min-width: 320px;">Наименование предприятия<div class="resizer"></div></th>
                    <th class="resizable" style="min-width: 80px;">Год<div class="resizer"></div></th>
                    <th class="resizable" style="min-width: 80px;">Квартал<div class="resizer"></div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%if report%}
                    {% for row in report %}
                    <tr class="report_row" data-id="{{ row.id }}">
                        <td></td>
                        <td>
                            <button class="show-versions_button">  
                                <img src="{{ url_for('static', filename='img/Plus.svg')}}" class = "close_black" alt="Просмотреть версии">
                            </button>
                        </td>
                        <td style = "display: none;">
                            <input type = "text" id = "report_id" value = "{{ row.id }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_okpo" value = "{{ row.okpo }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_organization_name" value = "{{ row.organization.full_name }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_year" value = "{{ row.year }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_quarter" value = "{{ row.quarter }}" readonly>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr class="change_input_row">
                        <td colspan="10">
                            
                        </td>
                    </tr>
                    <tr class="versions_row" >
                        <td colspan="10" class="vers_cont">
                            <div class="text_vers">--Версия--</div>
                            <table class="table-versions">
                                <thead class="order-table_titels">
                                    <tr>
                                        <th style = "white-space: nowrap;">+/&times;</th>
                                        <th class="resizable" style ="white-space: nowrap; width: 100px;">Дата начала<div class="resizer"></div></th>
                                        <th class="resizable" style="white-space: nowrap; width: 100px;">Дата изменения<div class="resizer"></div></th>
                                        <th class="resizable" >Статус<div class="resizer"></div></th>
                                        <th class="resizable" style="white-space: nowrap; width: 100px;">Дата отправки<div class="resizer"></div></th>
                                        <th class="resizable" style="white-space: nowrap; width: 200px;">ФИО<div class="resizer"></div></th>
                                        <th class="resizable" style="white-space: nowrap; width: 100px;">Телефон<div class="resizer"></div></th>
                                        <th class="resizable" style="white-space: nowrap; width: 140px;">Email<div class="resizer"></div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rows in row.versions %}
                                    <tr class="version-row" data-id="{{ rows.id }}">
                                        <td>
                                            <button class="show-tickets_button">  
                                                <img src="{{ url_for('static', filename='img/Plus.svg')}}" class = "close_black" alt="">
                                            </button>
                                            
                                        </td>
                                        <td>
                                            <input type = "text" value = "{{ rows.begin_time}}" readonly>
                                        </td>
                                        <td>
                                            {% if rows.change_time %}
                                            <input type = "text" value = "{{ rows.change_time }}" readonly>
                                            {% else %}
                                            &nbsp;
                                            {% endif %}
                                        </td>
                                            {% if rows.status == 'Контроль пройден'%}
                                                <td style = "background: rgb(96, 255, 228);"> 
                                                    <input type = "text" style = "color: black;" value = "{{ rows.status }}"  readonly>
                                                </td> 
                                            {% elif rows.status == 'Согласовано'%}
                                                <td style = "background: rgb(152, 255, 169);"> 
                                                    <input type = "text" style = "color: black;" value = "{{ rows.status }}"  readonly>
                                                </td> 
                                            {% elif rows.status == 'Отправлен'%}
                                                <td style = "background: rgb(96, 215, 255);"> 
                                                    <input type = "text" style = "color: black;" value = "{{ rows.status }}"  readonly>
                                                </td>  
                                            {% elif rows.status == 'Есть замечания'%}
                                                <td style = "background: rgb(255, 186, 96);"> 
                                                    <input type = "text" style = "color: black;" value = "{{ rows.status }}"  readonly>
                                                </td>  
                                            {% elif rows.status == 'Готов к удалению'%}
                                                <td style = "background: rgb(255, 96, 96);"> 
                                                    <input type = "text" style = "color: black;" value = "{{ rows.status }}"  readonly>
                                                </td>
                                            {% elif rows.status == 'Одобрен'%}
                                                <td style = "background:  rgb(96, 255, 122);"> 
                                                    <input type = "text" style = "color: black;" value = "Одобрен"  readonly>
                                                </td>
                                            {% else %}
                                                <td> 
                                                    <input type = "text" value = "{{ rows.status }}"  readonly>
                                                </td>  
                                            {% endif %}
                                    
                                        <td>
                                            {% if rows.sent_time %}
                                            <input type = "text" value = "{{ rows.sent_time }}" readonly>
                                            {% else %}
                                            &nbsp;
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input type = "text" value = "{{ rows.fio }}" readonly>
                                        </td> 
                                        <td>
                                            <input type = "text" value = "{{ rows.telephone }}" readonly>
                                        </td> 
                                        <td>
                                            <input type = "text" value = "{{ rows.email }}" readonly>
                                        </td> 
                                    </tr>
                                    <tr class="tickets_row">
                                        <td colspan="22" class = "check_cont">
                                            <div class="text_tickets">--Квитанции--</div>
                                            <table class="tickets_table">
                                                <thead class="order-table_titels">
                                                    <tr>
                                                        <th class="resizable" style ="white-space: nowrap; width: 100px;">Дата выдачи<div class="resizer"></div></th>
                                                        <th class="resizable" style ="white-space: nowrap; width: 100px;">Успех<div class="resizer"></div></th>
                                                        <th class="resizable" style ="white-space: nowrap; width: 400px;">Описание<div class="resizer"></div></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if rows.tickets %}
                                                    {% for ticket in rows.tickets %}
                                                        <tr class="ticket-row" data-id="{{ ticket.id }}">
                                                            <td>    
                                                                <input type="text" value="{{ ticket.begin_time }}" readonly>
                                                            </td>
                                                            <td >
                                                                <input type="checkbox" {% if ticket.luck %} checked {% endif %}  onclick="return false;">
                                                            </td>
                                                            <td>
                                                                <input type="text" value="{{ ticket.note }}" readonly>
                                                            </td>
                                                        </tr>   
                                                    {% endfor %}
                                                {% else %}
                                                    <tr class="row_with_tickets">
                                                        <td style = "height: 24px;" colspan="5">
                                                            <input type = "text"  value = "Квитанций нет" readonly>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
            {%else%}
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "height: 24px;" colspan="5">
                        <input type = "text"  value = "Для начала работы создайте новый отчет" readonly>
                    </td>
                </tr>
            {%endif%}
            </tbody>
        </table>
    </div>
</div>

<div id="add_report_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Создание отчета</h3>
            <a class="close" id = "close_add_report_modal">&times;</a>
        </div>
        <div class="answer-highlight-second">
            <div class="highlight-icon">💡</div>
            <p>Выберите необходимый <strong>год</strong> и <strong>квартал</strong>.</p>
        </div>
        <form method="POST" action="/create-new-report">
            <table class="modal_table">      
                <tr>
                    <td>Наименование предприятия</td>
                    <td>
                        <input 
                            type="text" 
                            name="modal_organization_name" 
                            value="{{current_user.organization.full_name}}" 
                            style = "width: 250px; text-align: left; color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>ОКПО</td>
                    <td>
                        <input 
                            type="text"
                            name="modal_organization_okpo" 
                            value="{{current_user.organization.okpo}}"  
                            style = "color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>Год</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button" onclick="decrement_year()">-</button>
                            <input  class = "inc_dis_input" type="text" id="quantity_year" value="{{previous_year}}" name="modal_report_year" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="increment_year()">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Квартал</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button" onclick="decrement_quarter()">-</button>
                            <input  class = "inc_dis_input" type="text" id="quantity_quarter" value="{{previous_quarter}}" name="modal_report_quarter" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="increment_quarter()">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style = "display: flex; justify-content: end; padding-top: 30px;">
                        
                        <button type="submit" class="blue_button report-submit" >
                            <img src="/static/img/Add.svg" alt="" class="button-icon">
                            <span>Создать</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form> 
    </div>
</div>

<div id="coppy_report_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Копирование отчета</h3>
            <a class="close">&times;</a>
        </div>
        <div class="answer-highlight-second">
            <div class="highlight-icon">💡</div>
            <p>Выберите необходимый <strong>год</strong> и <strong>квартал</strong>, отличающийся от копируемого отчета.</p>
        </div>
        <form method="POST" action="/сopy-report">
            <table class="modal_table">      
                <tr>
                    <td>Наименование предприятия</td>
                    <td>
                        <input 
                            type="text" 
                            name="coppy_organization_name" 
                            value="{{current_user.organization.full_name}}" 
                            style = "width: 250px; text-align: left; color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>ОКПО</td>
                    <td>
                        <input 
                            type="text"
                            name="coppy_organization_okpo" 
                            value="{{current_user.organization.okpo}}"  
                            style = "color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>Год</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button" onclick="coppy_decrement_year()">-</button>
                            <input  class = "inc_dis_input" type="text" id="coppy_quantity_year" value="{{previous_year}}" name="coppy_report_year" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="coppy_increment_year()">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Квартал</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button"  onclick="coppy_decrement_quarter()">-</button>
                            <input  class = "inc_dis_input" type="text" id="coppy_quantity_quarter" value="{{previous_quarter}}" name="coppy_report_quarter" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="coppy_increment_quarter()">+</button>
                        </div>
                    </td>
                </tr>
                <tr style = "display:none;">
                    <td>id</td>
                    <td>
                        <input 
                            type = "text"
                            name = "coppy_report_id" 
                            value = ""  
                            id = "copped_id"
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style = "display: flex; justify-content: end; padding-top: 30px;">
                        <button type="submit" class="blue_button report-submit">
                            
                            <img src="/static/img/Copy.svg" alt="" class="button-icon">
                            <span>Скопировать</span>
                        
                        </button>
                    </td>
                </tr>
            </table>
        </form> 
    </div>
</div>

<div id="change_report_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Редактирование отчета</h3>
            <a class="close" id = "close_change_report_modal">&times;</a>
        </div>
       
        <div class="answer-highlight-second">
            <div class="highlight-icon">💡</div>
            <p>Выберите необходимый <strong>год</strong> и <strong>квартал</strong>.</p>
        </div>
        <form method="POST" action="/update-report">
            <table class="modal_table">      
                <tr>
                    <td>Наименование предприятия</td>
                    <td>
                        <input
                            type="text" 
                            name="modal_organization_name" 
                            id="modal_organization_name" 
                            style = "width: 250px; text-align: left; color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>ОКПО</td>
                    <td>
                        <input 
                            type="text"
                            name="modal_report_okpo" 
                            id="modal_report_okpo" 
                            style = "color: rgb(132,132,132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>Год</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button" onclick="edit_decrement_year()">-</button>
                            <input  class = "inc_dis_input" type="text" id="modal_report_year" name="modal_change_report_year" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="edit_increment_year()">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Квартал</td>
                    <td>
                        <div class="input-container">
                            <button class = "inc_button" type="button" onclick="edit_decrement_quarter()">-</button>
                            <input  class = "inc_dis_input" type="text" id="modal_report_quarter" name="modal_change_report_quarter" readonly>
                            <button class = "dis_button" type="button" style = "margin: 0;" onclick="edit_increment_quarter()">+</button>
                        </div>
                    </td>
                    
                </tr>
                <tr style = "display: none;">
                    <td>id</td>
                    <td>
                        <input 
                            type="hidden" 
                            name="modal_report_id" 
                            id="modal_report_id"
                        >
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style = "display: flex; justify-content: end; padding-top: 30px;">
                        <button type="submit" class="blue_button report-submit" >
                            <img src="/static/img/Edit.svg" alt="" style = "" class="button-icon">
                            <span>Отредактировать</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form> 
    </div>
</div>

<div id="SentModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="change-position">Отправка отчета</h3>
            <a class="close">&times;</a>
        </div>

        <div class="answer-highlight-second" style = "max-width: 550px;">
            <div class="highlight-icon">💡</div>
            <p>Перетащите <strong>файл сертификата ЭЦП</strong> для отправки отчета. Если у вас возникнут вопросы, пожалуйста, ознакомьтесь с <a href="/FAQ/11" class="instruction-link">инструкцией</a> по работе.</p>
        </div>
        <form id="sentForm" style = "text-align: center;" action="/sent-version/iddddd" method="POST" enctype="multipart/form-data">
            <div id="drop-area" class="drop-area" role="button" tabindex="0" aria-labelledby="file-upload-label">
                <p id="file-upload-label">
                    {{ _('Перетащите файл сертификата сюда или') }} 
                </p> 
                <p class="file-input-label">
                    {{ _('нажмите для выбора') }} 
                </p>
                <input type="file" id="certificate_to_check" name="certificate" accept=".cer,.pem,.der" hidden 
                    aria-describedby="file-format-hint">
            </div>
            <div style = "display: flex; justify-content: center; width: 100%;">     
                <button type="submit" id = "submit_sent_button" class="blue_button report-submit"> 
                    <img src="/static/img/Send.svg" alt="" class="button-icon">
                    <span>Отправить</span>
                </button>
            </div>    
        </form>           
    </div>
</div>

<div id="contextMenu_report" class="white-panel">
    <button id = "link_change_report">
        <img src="/static/img/Edit.svg" alt="" class="button-icon-bl">
        <span>Редактировать</span>
    </button>
    <button id = "link_coppy_report">
        <img src="/static/img/Copy.svg" alt="" class="button-icon-bl">
        <span>Скопировать</span>
    </button>
    <form id="deleteReport" method="POST" action="/delete-report/">
        <button type="submit" id="del_reportButton">
            <img src="/static/img/Delete-black.svg" alt="" class="button-icon-bl">
            <span>Удалить</span>
        </button>
    </form>
</div>

<div id="contextMenu_version" class="white-panel">
    <button data-action="checkVersionButton">
        <img src="/static/img/Edit.svg" alt="" class="button-icon-bl">
        <span>Изменить</span>
    </button>
    <button disabled = 'True'>
        <img src="/static/img/Delete-black.svg" alt="" class="button-icon-bl">
        <span>Удалить</span>
    </button> 
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const info = document.getElementById('report_automat_open');
    if (!info) {
        console.log("Элемент #report_automat_open не найден");
        return;
    }

    const openReportId = info.dataset.openReportId;
    console.log("openReportId:", openReportId);

    if (openReportId) {
        const reportRow = document.querySelector(`.report_row[data-id="${openReportId}"]`);
        if (reportRow) {
            const versionsRow = reportRow.nextElementSibling.nextElementSibling;

            if (versionsRow && (versionsRow.style.display === 'none' || versionsRow.style.display === '')) {
                versionsRow.style.display = 'table-row';
                setTimeout(() => {
                    versionsRow.classList.add('show');
                }, 10);
            }

            const imgBlack = reportRow.querySelector('.show-versions_button .close_black');
            if (imgBlack) {
                imgBlack.classList.add('rotated');
            }
        } else {
            console.log("Не найдена строка отчета");
        }
    }
});
</script>

{% endblock %}
