{% extends "base.html" %}
{% block title %}Отчет - ErespondentN{% endblock %}
{% block content %}

<div class = "report-area_page">
    <div class = "report-area_menu">
        <div class="report-area_podmenu">    
            <div class="content-podmenu">
                <nav>
                    <ul> 
                        <section>    
                            <div class = "functions_menu">
                                <li data-action="link_addSection_modal">
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png')}}" alt="">
                                    <a>Добавить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">Продукция</a>
                        </section>           
                        <section>
                            <div class = "functions_menu">
                                <li onclick="window.location.href='/report-area/fuel/{{current_version.id}}'" 
                                {%if section_number == 1 %} 
                                    class = "activefunctions_menu"
                                {%endif%}>         
                                    <img src="{{ url_for('static', filename='img/Toplivo.png')}}" alt="">
                                    <a>Топливо</a>   
                                </li>
                                <li onclick="window.location.href='/report-area/heat/{{current_version.id}}'"
                                {%if section_number == 2 %} 
                                    class = "activefunctions_menu"
                                {%endif%}>                      
                                    <img src="{{ url_for('static', filename='img/Teplo.png')}}" alt="">
                                    <a>Тепло</a>
                                </li>

                                <li onclick="window.location.href='/report-area/electro/{{current_version.id}}'" 
                                {%if section_number == 3 %} 
                                    class = "activefunctions_menu"
                                {%endif%} >           
                                    <img src="{{ url_for('static', filename='img/Electro.png')}}" alt="">
                                    <a>Электро</a>   
                                </li>  
                            </div>
                            <a class="functions_menu_name">Раздел</a>
                        </section>
                        <section>
                            <div class = "functions_menu">                         
                                <form style = "display: none;" id = "export-table-form" action="/export-table" method="post">
                                    <input type = "hidden" name = "version_id" value = "{{current_version.id}}" readonly>
                                    <input type = "hidden" name = "numb_section" value = "1" readonly>
                                </form>
                                <li id = "export-table-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_excel.png')}}" alt="">
                                    <a>Экспорт</a>   
                                </li>   
                                <form id="control-report-form" action="/control-version/{{current_version.id}}" method="POST" style="display: none;">
                                </form>
                                <li id="control-report-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_control.png')}}" alt="">
                                    <a>Контроль</a>   
                                </li> 
                            </div>  
                            <a class="functions_menu_name">Версия отчета</a>
                        </section>
                        <section >
                            <div class = "functions_menu">                         
                                <li onclick="sortTable()"  title = 'Сортировка по [Б]'>           
                                    <img src="{{ url_for('static', filename='img/icon_sort.png')}}" alt="">
                                    <a>Сортировка</a>   
                                </li>  
                            </div>  
                            <a class="functions_menu_name">Таблица</a>
                        </section>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>      
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info"  style = "margin: 20px 30px;"> 
            <span>
                <a class = "hover_a" href="/report-area">Вернуться к отчетам</a>
            </span>
            <span> 
                <img src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
            </span>
            <span>
                <a>Отчет № {{id_report}}</a>
            </span>
        </div>
    </div>
    <div class = "report-area">
        <table class = "table_report-area">
            <thead class="order-table_titels">
                <tr>
                    <th class="resizable" rowspan="2"></th>
                    <th class="resizable" style = "white-space: nowrap;" rowspan="2">Наименование вида продукции (работ услуг)<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код строки<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код по ОКЭД<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Единица измерения<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Произведено продукции (работ, услуг) за отчетный период<div class="resizer"></div></th>
                    <th class="resizable" colspan="2">Израсходовано на единицу продукции (работы, услуги) за отчетный период, 
                        {%if section_number == 1 %}кг у.т.{%elif section_number == 2 %}Мкал{%elif section_number == 3 %}кВтч{%endif%}
                        <div class="resizer"></div>
                    </th>
                    <th class="resizable" colspan="3">Израсходовано на всю произведенную продукцию (работу, услугу) за отчетный период, 
                        {%if section_number == 1 %} т у.т.{%elif section_number == 2 %}Гкал{%elif section_number == 3 %}тыс.кВтч{%endif%}
                        <div class="resizer"></div>
                    </th>
                    <th class="resizable" rowspan="2">Примечание<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable" style = "width: 80px;">Экономия(-), перерасход(+)<div class="resizer"></div></th> 
                </tr>
                <tr>
                    <th></th>
                    <th class="resizable">A<div class="resizer"></div></th>
                    <th class="resizable">Б<div class="resizer"></div></th>
                    <th class="resizable">В<div class="resizer"></div></th>
                    <th class="resizable">Г<div class="resizer"></div></th>
                    <th class="resizable">1<div class="resizer"></div></th>
                    <th class="resizable">2<div class="resizer"></div></th>
                    <th class="resizable">3<div class="resizer"></div></th>
                    <th class="resizable">4<div class="resizer"></div></th>
                    <th class="resizable">5<div class="resizer"></div></th>
                    <th class="resizable">6<div class="resizer"></div></th>
                    <th class="resizable">7<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in sections %}
                <tr class = "section_row" data-id="{{ row.id }}" >
                    <td>
                        <input 
                            type = "hidden" 
                            name = "id_section" 
                            value = "{{ row.id }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            class = "product-name_fuel" 
                            type = "text" 
                            value = "{{ row.product.NameProduct }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            class = "product-cod_fuel" 
                            name = "product-cod_fuel"
                            value = "{{ row.code_product }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Oked_fuel" 
                            value = "{{ row.Oked }}" 
                            readonly
                        >
                    </td>
                    <td> 
                        <input  
                            type = "text"
                            style = "white-space: nowrap; text-align: left;" 
                            value = "{{ row.product.unit.NameUnit }}" 
                            readonly
                        >
                    </td> 
                    <td>
                        <input  
                            type = "text"
                            name = "produced_fuel"
                            value = "{{ row.produced }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Quota_fuel" 
                            value = "{{ row.Consumed_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Fact_fuel" 
                            value = "{{ row.Consumed_Fact }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input  
                            type = "text"
                            name = "Consumed_Total_Quota_fuel" 
                            value = "{{ row.Consumed_Total_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>     
                        <input  
                            type = "text"
                            name = "Consumed_Total_Fact_fuel" 
                            value = "{{ row.Consumed_Total_Fact }}" 
                            readonly
                        >
                    </td>
                    {% if row.total_differents is not none and (row.total_differents < 0.0 or row.total_differents == 0.00) %}
                        <td style="background-color: #a2ff77;">
                            <input  
                                type = "text"
                                style="background-color: #a2ff77; color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {%else%}
                        <td style="background-color: #ff7676;">
                            <input  
                                type = "text"
                                style="background-color: #ff7676; 
                                color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {%endif%}
                    <td> 
                        <input  
                            type = "text"
                            name = "note_fuel" 
                            value = "{{ row.note }}" 
                            readonly
                        >
                    </td>     
                    <td colspan="2"></td>      
                </tr>   
                {%endfor%}
            </tbody>
        </table>  
    </div>
    <div class = "report_infoUnder"> 
        <table>
            <tr>
                <td>Наименование предприятия</td>
                <td>
                    <input 
                   
                        type="text"
                        value = "{{current_report.organization.full_name}}"
                        title = "{{current_report.organization.full_name}}"
                        readonly
                    >
                </td>
            </tr>
            <tr>
                <td>ОКПО</td>
                <td>
                    <input 
                        type="text" 
                        value = "{{current_report.okpo}}"
                        title = "{{current_report.okpo}}"
                        readonly
                    >
                </td>
            </tr>
            <tr>
                <td>Год</td>
                <td>
                    <input 
                        type="text" 
                        value = "{{current_report.year}}"
                        title = "{{current_report.year}}"
                        readonly
                    >
                </td>
            </tr>
            <tr>
                <td>Квартал</td>
                <td>
                    <input 
                        type="text" 
                        value = "{{current_report.quarter}}"
                        title = "{{current_report.quarter}}"
                        readonly
                    >
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="addSection_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Добавить продукцию</h3>
            <a class="close">&times;</a>
        </div>
        <div class="modal-middle-text" style = "max-width: 100%;">
            <div>Выберите необходимую продукцию и заполните активные парамметры. Если у вас возникнут вопросы, пожалуйста, ознакомьтесь с <a href="/FAQ/8" class="instruction-link">инструкцией</a> по работе.</div>
        </div>
        <form method="POST" action="/add-section-param">
            <div class="choose-product_area">
                <div class = "serchProduct_cont">
                    <a>Фильтр</a>
                    <input type="text" name = "search_product" >
                </div>
                <table class="table_report-area">
                    <thead class = "order-table_titels">
                        <tr>
                            <th>Код продукта</th>
                            <th>Наименование продукта</th>
                            <th>Единица измерения</th>
                            <th style="display:none;">id</th>
                        </tr>
                    </thead>
                    <tbody id="chooseProdTableBody">
                        {% for row in dirProduct %}
                            <tr data-id="{{ row.id }}">
                                <td>{{row.CodeProduct}}</td>
                                <td style=" text-align: left;">{{row.NameProduct}}</td>
                                <td>{{row.unit.NameUnit}}</td>
                                <td style="display:none;">{{row.Id}}</td>
                            </tr>
                        {% endfor %}
                        <tr id="noResultsRow" style="display: none;">
                            <td colspan="3">Нет результатов</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class = "modal_table">
                <tr>
                    <td>[A] Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <div> 
                        <div style="position: relative;">
                            <input type="text" name="name_of_product" style="width: 250px; text-align: left;" readonly required>
                            <a id="nameOfProductButton">+</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>[B] ОКЭД</td>
                    <td>
                        <input                 
                            type="text"
                            name="oked_add"
                            maxlength="5" 
                            autocomplete="off"
                            class="numericInput"
                            required
                        >
                    </td>
                </tr>
                <tr>
                    <td>[1] Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input                 
                            type="text"
                            name="produced_add"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[2] Утвержденная норма на единицу продукции</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Quota_add"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[3] Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Fact_add"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[4] Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Quota_add"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            class = "numeric_dotInput"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[5] Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Fact_add"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input
                            style = "width: 250px; text-align: left;"          
                            type="text"
                            name="note_add"
                            autocomplete="off"
                        >
                        <input                 
                            type="hidden"
                            value = "{{current_version.id}}"
                            name="current_version"
                            readonly
                        >
                        <input                 
                            type="hidden"
                            id = "add_id_product"
                            name="add_id_product"
                            readonly
                        >
                        <input type="hidden" value="{{section_number}}" name="section_number" id="section_number" readonly>
                    </td>
                </tr>
            </table>
            <div style = "display: flex; justify-content: right; width: 100%;">     
                <button type = "submit" class = "blue_button report-submit">Добавить</button>    
            </div>    
    
        </form>   
    </div>
</div>

<div id="changefuel_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Редактирование продукции</h3>
            <a class="close">&times;</a>
        </div>
        <div class="modal-middle-text" style = "max-width: 100%;">
            <div>Отредактируйте активные параметры. Если у вас возникнут вопросы, пожалуйста, ознакомьтесь с <a href="/FAQ/8" class="instruction-link">инструкцией</a> по работе.</div>
        </div>
        <form method="POST" action="/change-section">
            <table class="modal_table">
                <tr>
                    <td>[A] Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input 
                            type="text" 
                            name="product_name" 
                            id="modal_product_name" 
                            style=" width: 250px; text-align: left; color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[B] ОКЭД</td>
                    <td>
                        <input 
                            type="text" 
                            name="oked_change" 
                            id="modal_oked" 
                            class = "numericInput" 
                            maxlength="5" 
                            style="color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[1] Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input
                            type="text" 
                            name="produced_change" 
                            class = "numeric_dotInput" 
                            id="modal_produced" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[2] Утвержденная норма на единицу продукции</td>
                    <td>
                        <input 
                            type="text"
                            name="Consumed_Quota_change" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Quota" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[3] Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Fact_change" 
                            id="modal_Consumed_Fact" 
                            style="color: rgb(132, 132, 132);" 
                            class = "numeric_dotInput"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>[4] Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Quota_change" 
                            id="modal_Consumed_Total_Quota" 
                            style="color: rgb(132, 132, 132);" 
                            readonly
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td>[5] Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Fact_change" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Total_Fact" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input 
                            style="width: 250px; text-align: left;" 
                            type="text" 
                            name="note_change" 
                            id="modal_note" 
                            autocomplete="off"
                        >
                        <input 
                            type="hidden" 
                            id="modal_id" 
                            name="id" 
                            readonly
                        >
                        <input 
                            type="hidden" 
                            value="{{ current_version.id }}" 
                            name="current_version"
                            readonly
                        >
                    </td>
                </tr>
            </table>
            <div style = "display: flex; justify-content: right; width: 100%;">     
                <button type="submit" class="blue_button report-submit">Изменить</button>    
            </div>    
    
        </form> 
    </div>
</div>

<div id="DirUnitModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class = "change-position">Единицы измерения</h3>
            <a class="close">&times;</a>
        </div>
        <div class = "serch-cont">
            <a>Поиск</a>
            <input class="search_input" type="text" placeholder="Наименование или код" id = "searchUnit" onkeyup="searchUnit()">
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>  
                        <th style = "white-space: nowrap;">Код единицы измерения</th>
                        <th style = "white-space: nowrap;">Наименование</th>
                        <th style = "white-space: nowrap; display: none;"></th>
                    </tr>
                </thead>
                <tbody class = "dirUnit">
                    {% for row in dirUnit %}
                    <tr>
                        <td style="text-align: left;">
                            <input type = "text" title = "{{ row.CodeUnit }}" value = "{{ row.CodeUnit }}" readonly>
                        </td>
                        <td style="text-align: left;">
                            <input type = "text" title = "{{ row.NameUnit }}"  value = "{{ row.NameUnit }}" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="DirProductModal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Виды продукции</h3>
            <a class="close">&times;</a>
        </div>
        <div class = "serch-cont">
            <a>Поиск</a>
            <input class="search_input" type="text" placeholder="Наименование или код" id = "searchUnitProduct" onkeyup="searchUnitProduct()">

        </div>
        <div class="spravochniki_area">
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>
                        <th style = "white-space: nowrap;">Код продукции</th>
                        <th style = "white-space: nowrap; min-width: 240px;">Наименование продукции</th>
                        <th style = "white-space: nowrap; width: 100px;">Топливо</th>
                        <th style = "white-space: nowrap; width: 100px;">Тепло</th>
                        <th style = "white-space: nowrap; width: 100px;">Электричество</th>
                        <!-- <th class="resizable" style = "white-space: nowrap;">Код единицы измерения<div class="resizer"></div></th> -->
                        <!-- <th class="resizable" style = "white-space: nowrap;">Дата начала<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Дата окончания<div class="resizer"></div></th> -->
                    </tr>
                </thead>
                <tbody class="dirUnitProduct">
                    {% for row in dirProduct %}
                    <tr>  
                        <td>
                            <input type = "text" title = "{{ row.CodeProduct }}" value = "{{ row.CodeProduct }}" readonly>
                        </td>
                        <td>
                            <input type = "text" title = "{{ row.NameProduct }}" value = "{{ row.NameProduct }}" readonly>
                        </td>
                        <td style = "text-align: center;">
                            <input type="checkbox"  {% if row.IsFuel %} checked {% endif %} onclick="return false;">
                        </td>
                        <td style = "text-align: center;">
                            <input type="checkbox"  {% if row.IsHeat %} checked {% endif %} onclick="return false;">
                        </td>
                        <td style = "text-align: center;">
                            <input type="checkbox"  {% if row.IsElectro %} checked {% endif %} onclick="return false;">
                        </td>
                        <!-- <td>
                            <input type = "text" title = "{{ row.IdUnit }}" value = "{{ row.IdUnit }}" readonly>
                        </td> -->
                        <!-- <td>   
                            {% if row.DateStart %}
                                <input type = "text" title = "{{ row.DateStart }}" value = "{{ row.DateStart }}" readonly>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if row.DateEnd %}
                                <input type = "text" title = "{{ row.DateEnd }}" value = "{{ row.DateEnd }}" readonly>
                            {% else %}
                        
                            {% endif %}
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="contextMenu_report" class="white-panel">
    <button id = "link_changefuel_modal">
        <span>Редактировать</span>
    </button>

    <form id="remove_section_form"  method="POST" action="/remove_section/">
        <button type="submit" id="remove_section">   
            <span>Удалить</span>
        </button>
    </form>

</div>
 
<script src="{{ url_for('static', filename='js/respondent_report.js') }}"></script>
{% endblock %}